[2017-08-04 19:45] dylanb124 opened #3 "Suggestion: Prism Support"
I believe it would be beneficial to add support for [Prism.js](http://prismjs.com/). Currently, there is not any markdown syntax coloring in the web ui.

I attempted adding the support in manually via inserting the css and js in `static/index.html`, but was unsuccessful as the files were not exported to the server.

[2017-11-06 08:32] juanpicado opened #1 "Implement allow users change password via UI"
#### My reason:

Currently, there is no such interface, any user should be able to update the password.

####  Config file:

No config changes need it.

Depends on https://github.com/verdaccio/verdaccio-htpasswd/issues/32
Depends on https://github.com/verdaccio/verdaccio/issues/392

[2018-05-28 02:37] momocow opened #439 "[Web] Resolve relative paths in README.md based on the homepage configured in package.json"
**Is your feature request related to a problem? Please describe.**
In the web interface, relative paths in `README.md` are resolved based on the same domain as where my registry hosts on, resulting in `404 Not Found` for resources like images.

**Describe the solution you'd like**
Relative paths should be resolved based on the `homepage` field in `package.json`.
Or provide a way to configure where

[2018-06-30 17:23] DanielRuf opened #12 "proposal: run E2E / browser tests on BrowserStack opensource"
We are also using BrowserStack for testing Foundation Sites and I find it useful to catch bugs in different browsers and on different platforms.

They have new a new opensource program:
https://www.browserstack.com/open-source

[2018-07-29 17:10] ayusharma opened #2 "Create profile user page"
**Description**

@ayusharma @priscilawebdev elaborate here bitte

Task:

- [ ] UI mockup

[2018-09-04 08:52] marcoreni opened #11 "Change header background color"
**Is your feature request related to a problem? Please describe.**
We customized header logo using the appropriate config option, but right now it's almost invisible due to the background color of the header bar.

**Describe the solution you'd like**
Add a config option to set the primary color of the website.

[2019-01-14 08:40] cesco69 opened #9 "[feature] Readme.md with syntax highlight"
**Is your feature request related to a problem? Please describe.**
Verdaccio doesn't show markdown code block with syntax highlight based on code type like github/gitlab. eg. the following code:

[code]

on verdaccio is shown in grayscale:

[code]

**Describe the solution you'd like**
Implements a syntax highlighter, eg.: https://highlightjs.org/

[2019-01-15 14:05] PhilippSoehnlein opened #10 "Web Interface: Don't show npm adduser command when only ActiveDirectory is configured"
**Describe the bug**
If the only auth mechanism that is configured doesn't allow user registration (ActiveDirectory for example) the header of the webinterface should not show the _npm adduser --registry $url_ message in the header.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup your server with only ActiveDirectory auth.
1. Go to the web interface.
2. See example command in header, t

[2019-02-06 13:51] juanpicado opened #4 "Automate Build with GitHub Actions"
As a PoC would be cool

[2019-02-06 19:41] priscilawebdev opened #5 "Remove all unnecessary dependencies"

[2019-02-06 19:42] priscilawebdev opened #6 "Update scripts and remove unnecessary ones"

[2019-02-06 19:42] priscilawebdev opened #7 "Convert Flow Types to Typescript"
Files to be converted:

~src/lib/constants.js~
~src/webui/components/Author/styles.js~
~src/webui/components/AutoComplete/index.js~
~src/webui/components/AutoComplete/styles.js~
~src/webui/components/AutoComplete/types.js~
~src/webui/components/CopyToClipBoard/index.js~
~src/webui/components/CopyToClipBoard/styles.js~
~src/webui/components/CopyToClipBoard/types.js~
~src/webui/components/Dependenci

[2019-02-06 19:44] priscilawebdev opened #8 "create Theme based on Material UI"

[2019-02-18 07:09] juanpicado opened #13 "Create a UI lib deployment"
This is just a track issue.

What we want to deliver

- [x] Create a deployment that delivers a dependency `"@verdaccio/ui-theme": "x.x.x",`

This is necessary to achieve  https://github.com/verdaccio/verdaccio/pull/1215

[2019-03-07 21:27] priscilawebdev opened #14 "Refactor: Footer"
. Introduce Hooks
. Introduce makeStyles (Material UI)

[2019-03-07 21:27] priscilawebdev opened #15 "Feat: Header"
. Introduce Typescript
. Replace Emotion by Material UI MakeStyle
. Replace classes by Hooks
. Split the Header into smaller components

[2019-03-07 21:27] priscilawebdev opened #16 "Feat: PackageList"
- Introduce Typescript
- Replace Emotion by Material UI MakeStyle
- Replace classes by Hooks
- Split the PackageList into smaller components

[2019-03-07 21:27] priscilawebdev opened #17 "Feat: Package"
- Introduce Typescript
- Replace Emotion by Material UI MakeStyle
- Replace classes by Hooks
- Split the PackageList into smaller components

[2019-03-07 21:28] priscilawebdev opened #18 "Feat: Search"
- Introduce Typescript
- Replace Emotion by Material UI MakeStyle
- Replace classes by Hooks
- Split the PackageList into smaller components

[2019-03-07 21:28] priscilawebdev opened #19 "Refactor: Page Not Found"

[2019-03-07 21:28] priscilawebdev opened #20 "Refactor Help Component"
- Introduce Typescript
- Replace Emotion by Material UI MakeStyle
- Split Help component into smaller components
- Add Tests

[2019-03-07 21:28] priscilawebdev opened #21 "Feat: Package Detail"
- Introduce Typescript
- Replace Emotion by Material UI MakeStyle
- Replace classes by Hooks
- Split the PackageList into smaller components

[2019-03-07 21:30] priscilawebdev opened #22 "Feat: Create Unit Tests using React Testing Library"

[2019-03-07 21:30] priscilawebdev opened #23 "Feat: Create 2E2 Tests using Cypress"

[2019-03-07 21:30] priscilawebdev opened #24 "Theme: Define palette"
- Define the final palette color (names and hex code)

[2019-03-07 21:30] priscilawebdev opened #25 "Theme: Create helper functions"

[2019-03-07 21:43] priscilawebdev opened #26 "Feat: Implement Padding Components Spacing"

[2019-03-07 21:44] priscilawebdev opened #27 "Feat: Implement Margin components spacing"

[2019-03-19 21:39] priscilawebdev commented on #14
close

[2019-03-19 21:39] #14 closed

[2019-03-20 20:49] #19 closed

[2019-03-28 08:00] juanpicado commented on #13
I'll do this on the `4.x-master` branch.

[2019-03-28 08:01] juanpicado opened #30 "GitHub Actions for Testing and Deployment"
Enable GitHub Actions for testing

[2019-04-06 13:15] #13 closed

[2019-04-13 23:06] juanpicado commented on #30
Good job ! 👍

[2019-04-13 23:06] #30 closed

[2019-05-02 20:39] DanielRuf opened #46 "Failing CI"
**Describe the bug**
It seems this is some sort of race condition. At least I can not reproduce it locally.
https://github.com/verdaccio/ui/runs/117059984

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Check the current CI status

**Expected behavior**
CI status should be green.

[2019-05-02 20:42] DanielRuf commented on #46
Also weird to see

[code]

Not sure if we have to upgrade Yarn.

[2019-05-02 21:02] juanpicado commented on #46
Those dependencies, that's my fault :)

[2019-05-02 21:03] juanpicado commented on #46
First time I see this tbh.
[code]

[2019-05-02 21:03] juanpicado commented on #46
I think GitHub actions are a bit buggy ... @ayusharma has noticed some mysterious bugs lately.

[2019-05-02 21:03] DanielRuf commented on #46
Not sure what you mean as the last commit did introduce any dependency changes.

[2019-05-03 06:03] juanpicado commented on #46
Ok, some context.

* I introduced `babel-preset` to simplify dependencies overall projects. In such dependency, pull babel and other dependencies required to build the app, some of them are optional dependencies which are generating those warnings, that part is my fault.
* We removed CircleCI from this project, trying to introduce GitHub Actions, but we were experimenting. We are thinking to resto

[2019-05-03 06:31] DanielRuf commented on #46
Thanks for the clarification.

Yes, now I have a much better context.

[2019-05-04 14:22] juanpicado commented on #46
I restored CircleCI (cc: @ayusharma )

We need to research more about those failures in GitHub actions, in the meantime, GHA are not required.

[2019-05-04 14:22] #46 closed

[2019-05-07 09:04] NexxLuo opened #49 ".woff file not found on windows iis"
I deploy verdaccio on windows IIS ,everything is right but fonts file not found in browser.
And i have added MIME type woff and woff2  in  IIS .

![image](https://user-images.githubusercontent.com/18549980/57287372-fa449400-70e9-11e9-966f-6995643af045.png)

IIS version  : 8.x
verdaccio version :4.0.0-beta.6

[2019-05-07 09:34] NexxLuo opened #48 ".woff file not found on windows iis"
I deploy verdaccio on windows IIS ,everything is right but fonts file not found in browser.
And i have added MIME type woff and woff2  in  IIS .

![image](https://user-images.githubusercontent.com/18549980/57287372-fa449400-70e9-11e9-966f-6995643af045.png)

IIS version  : 8.x
verdaccio version :4.0.0-beta.6

[2019-05-07 10:03] juanpicado commented on #49
I just realized something really interesting. The bug is fonts are missing in the tarball.

If you run locally `npm pack`, it packs the fonts, while running `yarn pack` ignores the folder fonts content.
[code]

Solution: be more specific in the `.npmignore` with `!/static/**/*` pattern.

[code]

@NexxLuo would you like to PR?

[2019-05-07 10:13] NexxLuo commented on #49
This is my firs time to use verdaccio. This issue is a small problem , i will try to solve it in then future .

[2019-05-07 10:14] juanpicado commented on #49
The solution is above :-) ...

[2019-05-07 10:19] NexxLuo commented on #49
uh....   ok ， i will verify it   .

[2019-05-07 18:40] #49 closed

[2019-05-07 19:43] priscilawebdev opened #51 "Icon: Replace Styled components by MakeStyles (MUI)"

[2019-05-07 19:44] juanpicado commented on #51
;-) still alpha https://material-ui.com/css-in-js/basics/

[2019-05-12 14:29] priscilawebdev opened #56 "Refactor: Footer"

[2019-05-14 20:24] guatedude2 opened #59 "Forgot password?"
**Is your feature request related to a problem? Please describe.**
I think it would be great to have a forgot password on the UI. It's nice to be able to recover accounts since we dont typically remember what password was set up during npm login.

**Describe the solution you'd like**
A user can go to the UI, click on the "forgot password?" link bellow the login form. It pops up a form with an emai

[2019-05-21 10:10] DanielRuf opened #62 "HMR not working"
**Describe the bug**
Hot Module Reloading does not work. It seems some state is missing when the devserver reloads the components.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the webserver and the ui
2. Open the browser at http://localhost:4872/-/web/detail/any-package
3. Change the content of the `DetailContainer` component

**Expected behavior**
No error and an updated component.

[2019-05-21 19:31] juanpicado commented on #62
@DanielRuf

**Issue**:
As far I could see the error is, the Context API state is being lost so, that leads to that issue.

**Possible Solution:**

This "solves" the issue https://github.com/gaearon/react-hot-loader/issues/1184#issuecomment-465292148

Comment out this https://github.com/verdaccio/babel-preset/blob/master/lib/builder.js#L76

I also updated

[code]
Perhaps that also helps.

The resul

[2019-05-22 06:20] DanielRuf commented on #62
Seems to work with this proposed solution.

[2019-05-22 06:46] juanpicado commented on #62
@DanielRuf if you ask me, I'd prefer a semi working version of this that completely broken. I think we can override the `.babelrc` conf without touch the `babel-preset` package.

[2019-05-22 07:41] DanielRuf commented on #62
Sounds good. We could do this with `patch-package`. I have applied the changes to my local `@verdaccio/ui` setup using it.

[2019-05-26 09:56] priscilawebdev opened #65 "Refactor: Remove Lodash from the UI"

[2019-05-26 17:00] DanielRuf commented on #65
Hi @priscilawebdev,

what is the current intention behind this? Can you describte this in detail? Because Lodash is too big?

Let's make an overview of the affected methods and codeparts so we can refactor these and I might be able to provide alternative solutions.

[2019-05-28 03:34] honzahommer opened #67 "Feat: Deprecated package"
Show deprecate message if version object has deprecated property. Related PR https://github.com/verdaccio/verdaccio/pull/1308.

- https://www.npmjs.com/package/jade
- https://registry.npmjs.org/jade

[2019-06-03 11:45] eguaj opened #69 "Homepage fails to load with "SyntaxError: missing ) after argument list" error when web UI title contains a quote"
**Describe the bug**

If I configure the web UI title with a string containing a quote, then the homepage fails to load with the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Edit `config.yaml` and set the web UI title with a string containing a quote:

[code]

2. Start verdaccio:

[code]

3. Browse to http://localhost:4873/
4. A blank page is displayed with the fo

[2019-06-03 12:05] DanielRuf commented on #69
Hi @eguaj,

can you escape the title as a workaround which works? Like `\"` or `\'`.

[2019-06-03 12:06] DanielRuf commented on #69
Generally it should be `"ACME's registry"` instead of `'ACME''s registry'`.

[2019-06-03 12:35] eguaj commented on #69
Thanks @DanielRuf , with the `&apos;` notation it works.

But any other form of escaping fails...

If I remove the hardcoded single-quotes around `ToReplaceByVerdaccioUI` in `node_modules/@verdaccio/ui-theme/static/index.html` and do a double `JSON.stringify()` in `node_modules/verdaccio/build/api/web/index.js` then it seems to work (i.e. the `options` object is properly passed as a string without

[2019-06-03 12:42] DanielRuf commented on #69
Hi @eguaj,

thanks for the update. 👏

Do you want to provide a PR? From there we could discuss the best solution to cover all cases.

That would be awesome. If you need any help with some tests or where to start, just let us know.

[2019-06-03 12:43] DanielRuf commented on #69
Might not be the right / best solution probably but we'll see. Let's see if we can find some good one together =)

[2019-06-03 12:52] juanpicado commented on #69
@eguaj @DanielRuf double seems odd ... perhaps we should it escaped properly in the backend 🤔

[2019-06-05 20:52] matthewoden opened #71 "Performance improvements with Verdaccio UI"
**Is your feature request related to a problem? Please describe.**
We're migrating to Verdaccio from another package solution. We've got around 500 packages, which the service generally handles just fine. The only issue has been in the UI (and only on the home page). Once the packages have been fetched, the loading spinner vanishes, and the default homepage chokes on a white screen for an addition

[2019-06-05 21:34] juanpicado commented on #71
thougts @priscilawebdev @ayusharma @DanielRuf ?

[2019-06-09 10:36] coolsp opened #72 "Failed to load all packages after login"
**Describe the bug**
Non-public packages not included in the package-list after login.

**To Reproduce**
Steps to reproduce the behavior:
1. Load the UI in a browser
2. You can see the public packages available to all
3. Login
4. Package list still the same, not included non-public packages I can access

**Expected behavior**
A package list containing all packages I can access.

[2019-06-09 13:17] DanielRuf commented on #72
Hi @coolsp,

Thanks for reporting the issue and especially for providing the PR.

[2019-06-10 09:49] #72 closed

[2019-06-11 05:49] JayaKrishnaNamburu commented on #67
Hey @juanpicado I would like to take a shot at this, once the API endpoint is completed.

[2019-06-11 08:06] juanpicado commented on #67
@JayaKrishnaNamburu that's cool, in the meantime, could you make small mockup how should looks like from your perspective?

[2019-06-11 09:45] JayaKrishnaNamburu commented on #67
@juanpicado you mean a static design implmentation?

[2019-06-11 17:19] juanpicado commented on #67
Before developing the UI user interface, this https://github.com/verdaccio/verdaccio-balsamiq was a good start, so all we had a clear picture of what we had to do. I'm not asking for a complete mock up, but you might just modify the HTML with dev tools to emulate where and how we might display a package is deprecated.

[2019-06-11 17:22] JayaKrishnaNamburu commented on #67
Got it, sure will do that and update 🙂👍

[2019-06-12 05:52] JayaKrishnaNamburu commented on #67
![Deprecated Package Verdaccio](https://user-images.githubusercontent.com/11075561/59326442-34660e80-8d04-11e9-882c-1edf0654774e.png)

@juanpicado just tried this, please share your suggestions. I will update them.

[2019-06-12 06:03] juanpicado commented on #67
Allow me to explain to you how the `deprecate` works.  Please notice our npmjs page https://www.npmjs.com/package/verdaccio and click on Versions, then click on **show deprecated versions**, then scroll down and you will notice a **read** label. The unique you can `deprecate` is versions, packages only can be removed.

Furthermore, deprecate also has a message that might be useful for you, check t

[2019-06-14 19:55] DanielRuf opened #74 "QA: current linting warnings"
**Describe the bug**
Currently we have several linting warnings and I want to resolve them.
Which of the following warnings are relevant (the consolelog ones probably not at the moment)?

**To Reproduce**
Steps to reproduce the behavior:
1. `yarn run dev:web`

**Expected behavior**
No linting warnings.

[code]

[2019-06-14 19:56] juanpicado commented on #74
I'd fix this on top of https://github.com/verdaccio/ui/pull/47 otherwise will be a mess.

[2019-06-17 07:41] juanpicado commented on #74
@DanielRuf I enabled eslint at #47, I plan to fix them soon, if you want to fix this there, this is the right moment. There are plenty more that I see in this ticket.

[2019-06-18 07:34] pszalanski opened #75 "Cannot download tarball after logging in"
**Describe the bug**
Access to packages is restricted to authenticated users, which works fine during browsing. However, on clicking "Download tarball" I get an error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Login
2. Navigate to a package with access `$authenticated`
3. Click on "Download tarball"
4. See error

**Expected behavior**
The tarball should be downloaded.

**Configu

[2019-06-18 11:31] pszalanski commented on #75
Original issue: https://github.com/verdaccio/verdaccio/issues/1351

[2019-06-20 15:29] juanpicado opened #76 "Download button is not displayed if the tarball dist URI has localhost as domain"
**Describe the bug**

The download button is hidden if I run `verdaccio` as `localhost`.

The reason is the `validator` library and the current setup, validate

[code]
as false.
[code]

**To Reproduce**

1. Publish any package
2. Go to the detail page
3. The button is not being rendered

**Expected behavior**

In localhost environments, this should be valid.

**Screenshots**
If applicable, add scr

[2019-06-20 15:41] juanpicado commented on #74
@DanielRuf #47 was merged the list fo warnings are around 300, without mention the `@ts-ignore` in the source code, around 57 matches.

[code]

The new linting in `eslint` introduce useful rules to encourage strongly types at Verdaccio. I totally agree with this. I want to get rid of all `any` over the place.

* `@typescript-eslint/explicit-member-accessibility`
* `@typescript-eslint/no-explicit-a

[2019-06-20 15:54] DanielRuf commented on #76
localhost should be a valid URL, see https://codepen.io/DanielRuf/pen/dBNVMQ?editors=1111

[2019-06-20 15:58] DanielRuf commented on #76
Not a great solution, see https://github.com/chriso/validator.js/issues/757

[2019-06-20 21:03] juanpicado commented on #76
I think you got a point, I was happy with the dependency, something less to maintain, but seems to be another layer of complexity.

[2019-06-24 19:07] juanpicado opened #78 "Replace node-sass by emotion"
**Is your feature request related to a problem? Please describe.**

We want to remove `node-sass` from our code base, actually, we have 2 CSS libraries living in our code base.

**Describe the solution you'd like**
I want to migrate all to `emotion` and reduce dependency from `sass`.

**Describe alternatives you've considered**

We are considering `material-ui` styles as an alternative to keep all

[2019-06-30 21:04] griffithtp commented on #78
If there is no takers, I would be keen to give it a try?

[2019-06-30 21:22] juanpicado commented on #78
All yours @griffithtp , I think nobody is actively working on this as far I know.

[2019-07-01 07:47] godkun opened #81 "Can be on the right under the infos column under the Repository Option plus a button to copy the address?"
**Is your feature request related to a problem? Please describe.**
Now the Repository under the right infos column. The option doesn't have a button to copy the address, so when I want to copy the ssh address, I can only click into a new page to see the full address.

The current page is like this：
![image](https://user-images.githubusercontent.com/26134303/60419255-6a1d5980-9c17-11e9-9e0e-de065a8

[2019-07-01 08:42] juanpicado commented on #81
Hi @godkun

I guess you are still using Verdaccio 3 as far I can see.

I'd suggest @godkun you move to Verdaccio 4 we have that feature already.

eg: https://registry.verdaccio.org/-/web/detail/jquery

[2019-07-01 09:06] godkun commented on #81
enen, sorry, it’s version 3.0, I will rise to 4.0 later.
Thank you.

[2019-07-01 09:48] #81 closed

[2019-07-03 11:27] NathanaelA opened #83 "Crashing while trying to view readme"
**Describe the bug**
Using v4.04 -
Just clicking on a link to view the readme throws the following error in the browser (both brave and firefox):
[code]

Crashing Browser side Code:
[code]
The e.type was element of type "span".
The t = was  the license section from the package.json:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. I logged in via npm
2. I uploaded a single @scoped pack

[2019-07-03 22:44] griffithtp commented on #78
@juanpicado we might also need to upgrade to emotion v10 here and it has some breaking changes I am looking at to resolve.
Also, snapshot testing doesn't seem to work using the jest-emotion serializer for components that already has a render method, which is a shame; will look into further config settings.
If anyone has experienced a similar issue, do let us know?

[2019-07-03 23:16] NathanaelA commented on #83
@juanpicado - I figured out what is crashing it.   I was on the right trail last night.  ;-)    The License section is not liked by the front end.
[code]

The front end is expecting this to be a string...   Me switching this package to:
`"license": "any string"`
Allowed the frontend to work.     Unfortunately, the license format I have listed above is very common...

I'll look around; but if you a

[2019-07-03 23:28] NathanaelA commented on #83
The issue I believe can be fixed here:
https://github.com/verdaccio/ui/blob/a0f0c80e2e8c635bb7dcb6dc2a7884e6a52bf3b0/src/components/Dist/Dist.tsx#L52

[code]

[2019-07-04 03:32] juanpicado commented on #78
I would wait for that upgrade, we have been considering use https://material-ui.com/es/styles/basics/ instead which is built-in in material-ui. @priscilawebdev suggested to  use it, back then was in alpha so we stopped, but now it is stable.

[2019-07-04 05:33] DanielRuf commented on #83
Hi @NathanaelA,

Not sure where the license field is an object normally.
Also I do not know if licence check tools properly detect the (SPX) licences.

Can you show some real-world examples?

[2019-07-04 05:34] DanielRuf commented on #83
Hi @NathanaelA,

Not sure where the license field is an object normally.
Also I do not know if licence check tools properly detect the (SPDX) licences.

Can you show some real-world examples?

[2019-07-04 05:36] DanielRuf commented on #83
According to https://docs.npmjs.com/files/package.json#license the object style is deprecated but we may still have to support it.

[2019-07-04 05:44] DanielRuf commented on #83
I would suggest doing this with if / else if / else.

[code]

Ternary is not great for such more complex checks. And type checking is important.

[2019-07-04 06:11] NathanaelA commented on #83
@DanielRuf - To be honest; every single one of my about ~40 plugins have that style.   I'll start fixing them as I upgrade them.  (Thanks for the npm link!).    I honestly was unaware that it has been considered invalid -- I was taught using that apparently now invalid style. :grinning:    In fact I would venture a guess about 10%-30% of the 1000ish plugins I'm tracking probably have that style...

[2019-07-04 11:10] detj opened #84 "Show latest version on Package Sidebar"
**Is your feature request related to a problem? Please describe.**
One of the common questions anyone has while checking out a package on a registry is what version will get installed when they install the package. Verdaccio 3.x.x showed the latest package version on the right side, but Verdaccio 4.x.x shows all the package versions under the "VERSIONS" tab.

**Describe the solution you'd like**
A

[2019-07-04 12:56] juanpicado commented on #84
I support this. We display it in the Frontend but do not on detail page.

[2019-07-07 09:36] priscilawebdev opened #87 "chore: Update @material-ui@4.2.x"
Update Material UI dependencies with the latest versions.

the dependencies are:

 "@material-ui/core": "3.9.3",
 "@material-ui/icons": "3.0.2",

[2019-07-07 09:47] sergiohgz commented on #87
:thinking: I’ve just remembered that MUI have been updated to 4. The exact versions are:
@material-ui/core -> 4.2.0
@material-ui/icons -> 4.2.1

Also, @material-ui provides a package called @material-ui/types, with Ts types (with version 4.1.1, but I always used types provided in @material-ui/core). Should we migrate to that package? What do you think @priscilawebdev ?

[2019-07-07 09:55] priscilawebdev commented on #87
Hi @sergiohgz ...yes I am going to update to the latest versions...There are some breaking changes...so I need to be careful...regarding the types....we are already using @types/material-ui so I think we can leave like that...

[2019-07-07 09:59] sergiohgz commented on #87
Take care when upgrading to v4, @types/material-ui might be incompatible with @material-ui v4. That types haven’t been updated for 5 months, so if you find incompatibilities, take a look in @material-ui/types (also, if you find easy to move to this package, it could be great 🙂 )

[2019-07-07 10:08] priscilawebdev commented on #87
I will check it out..thank you for the tipp 😉

[2019-07-07 11:04] juanpicado opened #89 "The logos has incorrect style"
**Describe the bug**

We have regression issues due to https://github.com/verdaccio/ui/pull/80

![Verdaccio_-_webpack](https://user-images.githubusercontent.com/558752/60767361-3cbd2980-a0b7-11e9-9d64-d3e9cb2c2fd7.png)

The issue seems we forgot to remove some quotes https://github.com/verdaccio/ui/pull/80/files#diff-2780c4d0882ad10abae71aa33af34c7bR147

It affects loading logo and header logo.

I

[2019-07-07 11:07] #83 closed

[2019-07-07 11:15] juanpicado commented on #87
Please, let us  know how big might be this before start a PR, perhaps we can split this up in some PR.

[2019-07-07 11:38] sergiohgz commented on #87
I've just investigated @material-ui/types and they are utilities types. Also, @material-ui/core takes it as dependency, so we don't need to import it explicitly (take a look here https://github.com/mui-org/material-ui/blob/master/packages/material-ui/package.json#L43)

[2019-07-07 11:53] griffithtp commented on #89
apologies, fix should be in #85
https://github.com/verdaccio/ui/pull/85/files#diff-2780c4d0882ad10abae71aa33af34c7b

[2019-07-07 12:05] sergiohgz commented on #87
Sorry, closed due to ipad issues (I might change it for a new one 😅 ).

@priscilawebdev don’t care about @types/material-ui, we should remove them as @material-ui provides their own types and, I saw, @types/material-ui is a package that links the types provided by @material-ui, so they could be obsolete. Should we open an issue to get rid about it?

[2019-07-08 07:41] juanpicado commented on #89
@griffithtp it is not your fault, my bad, it was introduced here https://github.com/verdaccio/ui/pull/47

[2019-07-08 21:56] juanpicado opened #93 "Verify wether identity-obj-proxy in Jest works"
We should not mock this due to we uses `identity-obj-proxy` to do it out of the box, but If I remove the mock the test fails, thus, the configuration seems does not work fine. I'll address this in a new ticket.
https://github.com/keyz/identity-obj-proxy
See example here.
https://github.com/verdaccio/ui/blob/4.x-master/jest.config.js#L16

_Originally posted by @juanpicado in https://github.com/verd

[2019-07-08 22:09] sergiohgz commented on #93
In the example referenced at https://github.com/keyz/identity-obj-proxy, the images are mocked with a stub file config. I don't see any site where they use identity-obj-proxy for this purpose, so we would make the workaround. What do you think? @juanpicado @ayusharma

[2019-07-08 22:15] juanpicado commented on #93
Yeah, I'm confused about the current usage. https://jestjs.io/docs/en/webpack#mocking-css-modules Even they only reference webpack or CSS modules and that's is what @griffithtp is removing here https://github.com/verdaccio/ui/pull/85 , so perhaps we do not need that anymore and @ayusharma is right with this approach.

[2019-07-08 22:29] sergiohgz commented on #93
We can use it to mock svg files.
Currently, the svg transformer in https://github.com/verdaccio/ui/blob/4.x-master/jest.config.js#L17 is not working because it doesn't exist. But if we use `identity-obj-proxy` (we can join s?css and svg definition in line 14) we don't need to mock svg files anymore like we did in https://github.com/verdaccio/ui/blob/4.x-master/src/components/Engines/Engines.test.t

[2019-07-09 19:04] #2 closed

[2019-07-09 19:06] #18 closed

[2019-07-09 19:07] #20 closed

[2019-07-09 19:07] #16 closed

[2019-07-09 19:07] #17 closed

[2019-07-09 19:07] #21 closed

[2019-07-09 19:07] #56 closed

[2019-07-09 19:08] #22 closed

[2019-07-09 19:08] #51 closed

[2019-07-09 19:08] #27 closed

[2019-07-09 19:08] #26 closed

[2019-07-09 19:08] #25 closed

[2019-07-09 19:08] #5 closed

[2019-07-09 19:08] #6 closed

[2019-07-09 19:09] #7 closed

[2019-07-09 19:09] #8 closed

[2019-07-09 19:09] #24 closed

[2019-07-09 19:10] #15 closed

[2019-07-09 19:11] priscilawebdev commented on #1
if anyone want to do this task..please feel free!

[2019-07-09 19:11] #23 closed

[2019-07-09 20:19] sergiohgz opened #95 "Investigate how to remove !important in styles"
`!important` CSS keyword carries several behaviours in accessibility, so we have to try avoid their usage as much as we can.

We could try to make important things by repeating CSS class name instead, as commented in the PR referenced below.

_Originally posted by @sergiohgz in https://github.com/verdaccio/ui/pull/85_

[2019-07-09 22:26] griffithtp commented on #89
it was actually from PR85; where I mixed up template literals and css object notation.
should be reverted now from that remove sass PR but PR94 has the better fix with logo size :)

[2019-07-10 06:02] #65 closed

[2019-07-10 06:14] juanpicado commented on #4
We did this, but it id not work. We are going to back to CircleCI.

[2019-07-10 06:14] #4 closed

[2019-07-10 07:53] juanpicado commented on #95
From my favorite CSS book ever -> https://www.manning.com/books/css-in-depth

![Screen Shot 2019-07-10 at 9 51 53 AM](https://user-images.githubusercontent.com/558752/60950960-65803180-a2f8-11e9-93f3-c2e556bcc0db.png)

[2019-07-10 14:10] sergiohgz commented on #89
Closed #89 via #94

[2019-07-10 14:10] #89 closed

[2019-07-10 14:41] sergiohgz opened #97 "Unify Emotion CSS definition format"
We should unify the way we are defining CSS with Emotion, as we are mixing the ways we can define them and we can make some mistakes (as quotes where aren’t needed).

As we can see at [Emotion docs](https://emotion.sh/docs/), there are 2 ways of defining CSS, using **templated strings** syntax or **object** syntax. Here is a sample of the same codeblock in both styles:

##### Templated string synt

[2019-07-10 18:12] juanpicado commented on #89
Thanks @sergiohgz great job.

[2019-07-10 21:38] griffithtp commented on #78
@juanpicado can this be closed and resolved now? 😃

[2019-07-10 21:53] griffithtp commented on #95
Since I've adopted the BEM naming convention I have not come across a scenario where I've had to resolve using `!important` with clearly defined components.
With css-in-js though, I'd be very curious what different approach would be if applicable at all since classnames are hashed when bundled 🤔

[2019-07-10 22:18] griffithtp commented on #97
It'd feel more natural to use template literals for me because in the end it is CSS.
However, it does not warn you where you've made a typo which introduced the Logo style bug recently having accidently put margins in quotes (sorry 😅)
Unless we can apply linting rules in css template string, object styles might be a safer option.
Decision like this is tougth and at the end of the day we should be

[2019-07-10 22:44] sergiohgz commented on #97
First of all, I have to say that you don't have to apologize about introducing a typo, nobody has dead for it :smiley:. In the PR fixing that quotes, I saw another extra quotation in Login that I don't know when it was introduced but, IMHO, I don't feel very comfortable with string templates as code written inside is not JS/TS.

Of course, you are right @griffithtp in the term that at the end it's

[2019-07-11 04:59] juanpicado commented on #78
Thanks @griffithtp :-) you are right !

[2019-07-11 04:59] #78 closed

[2019-07-11 19:35] griffithtp commented on #76
@DanielRuf's proposed solution with require_tld is probably the way to go?
babel polify still means we have one package to maintain and it appears there is an issue with it though this seems outdated?
https://github.com/babel/babel/issues/7300

I found another from Financial-Times
https://github.com/Financial-Times/polyfill-library/tree/master/polyfills/URL
Yet again something to maintain.

Though

[2019-07-11 20:23] juanpicado commented on #76
@griffithtp I'd go with something we do not have to maintain, add TS types or something like that. :-) the idea is has less code as possible.

[2019-07-11 20:29] juanpicado commented on #97
@griffithtp we use linting for CSS-JS, but it is not perfect, lack of features, hard to rely on it.

I'd like to have objects, we rely on Material-UI and at some point we have to study how hard is uses https://material-ui.com/es/styles/basics/ instead or emotion, I'd like to have less dependencies as possible (each dependency is x10 change to have a external bug or security warning).

@sergiohgz I

[2019-07-11 22:29] sergiohgz commented on #97
@juanpicado Of course, I am going to look what I have advanced and tomorrow I will make a small PR to start discussion

[2019-07-12 04:49] DanielRuf commented on #76
Why not directly integrate the polyfill? I think I have linked some ppolyfill some time ago.

Polyfills are better than such big solutions like `validator`.

[2019-07-12 06:21] juanpicado commented on #76
We would need to add types, integrate with jest, add unit test, fix bugs ( or browser incompatibility) or keep an eye on security of such plugin. Too much effort imho. I'm not 100% happy with `{ require_tld: false }` but at least they do that job for us. Or, find a reliable pollyfill npm dependency just for URL that cover all things I described above.

[2019-07-12 13:42] juanpicado opened #100 "If package is not found, the website does not render 404 page"
**Describe the bug**

The website does not render the page 404 whether package is not found in the storage.

**To Reproduce**
Steps to reproduce the behavior:
1. Use latest verdaccio
2. Update conf to remove any `proxy `prop in packages
3. Publish any package with dependencies
4. Reload the page
5. Browse your package to dependencies
6. Click in the dependency (open dev tools and see the HTTP 404)

[2019-07-13 11:19] juanpicado commented on #95
We need BEM or similar approach for each section or component, in case you guys are not aware we have some E2E testing at Verdaccio which looks for Ids or classes for some smoke UI test and check small things. Thus, we need to create a strategy for different sections and perhaps do not rely on IDs as we do now.

[2019-07-13 11:40] juanpicado opened #102 "i18n at UI"
**Is your feature request related to a problem? Please describe.**

Verdaccio is in English by default, but I want to change that. I would like to have multiple languages via configuration.

**Describe the solution you'd like**

I want UI (perhaps backend) in multiple languages. I would like to take advance of crowdin platform for this.

**Describe alternatives you've considered**

I am not clear

[2019-07-13 12:06] DanielRuf commented on #102
lingui seems a bit weird (we have to wrap the translatable strings in another component) https://lingui.js.org/ref/react.html#ref-react

https://github.com/i18next/react-i18next looks more familiar with translation implementations in other frameworks which use some `t()` or `_()` helper methods.

[2019-07-13 12:09] DanielRuf commented on #102
https://codesandbox.io/s/1zxox032q

[2019-07-14 12:28] #76 closed

[2019-07-15 05:32] DanielRuf commented on #100
Did you check my BDD test setup? Why not use E2E testing for such cases? Normal unit tests won't catch this.

[2019-07-15 11:24] sergiohgz opened #105 "Cannot run dev server without commenting some lines"
**Describe the bug**
When running dev server, it should compile without errors and reload efficently the browser. At the moment, it is not finding a file called `app` (extension could be js or ts, it doesn't matter) in `src` folder. The file is required by `src/index.tsx`, line 25, by `module.hot.accept` function.
We can bypass this bug by commenting lines 25 and 27 (function call, not callback),

[2019-07-15 11:34] sergiohgz commented on #105
The part of not working Hot Reload is described better in #62

[2019-07-15 12:33] juanpicado commented on #100
@DanielRuf It is on the queue, but I think we are gonna create a roadmap, so we can put all these things. cc: @sergiohgz

Before was suggested https://www.cypress.io/ but I did not have time to look into it and wether make sense in our workflow.

[2019-07-16 12:56] sergiohgz opened #107 "Refactor suggested styles"
This issue will track several CSS changes we see across PRs relatives to issue #97 (like #104).

#### Discovered in #104
- [ ] `src/components/Author/styles.ts#L7` - use `fontWeight.bold` from `utils/styles/sizes`
- [ ] `src/components/Developers/styles.ts#L23` - use `fontWeight.bold` from `utils/styles/sizes`
- [ ] `src/components/Dist/styles.ts#L11` - use `fontWeight.bold` from `utils/styles/siz

[2019-07-17 03:45] NathanaelA opened #108 "Font Pathing issue in Master"
**Describe the bug**
I pulled the latest UI master as of today (2019-07-15) and ran the build script; then linked the ui properly up to my copy of Verdaccio.

However, several of the fonts are showing in brave as this:
`https://npm.proplugins.org/-/static/ToReplaceByVerdaccio/-/staticfonts/roboto-latin-400.woff2`
Which of course is broken url.   Coming from a CSS File:
`referer: https://npm.proplu

[2019-07-21 15:28] DanielRuf commented on #108
Related:
https://github.com/verdaccio/ui/blame/6b5d0b7e2e37c4f0324b17b5794a01ebec49a71e/tools/webpack.prod.config.babel.js#L51
https://github.com/verdaccio/ui/blame/50664dc0088ee95df83cbf00b8d6a321de2135cf/tools/webpack.config.js#L10-L11

[2019-07-25 22:00] carlosen14 commented on #75
I'm having the same issue..

[2019-07-26 21:05] carlosen14 opened #109 "Download old versions, not only newest"
**Is your feature request related to a problem? Please describe.**
Being unable to download via ui and old-version package

**Describe the solution you'd like**
When you click one of these, download the corresponding version

**Describe alternatives you've considered**
- Create an empty project and do `npm i <pkg>@<specific version>
- Copy the URL given on the download latest (cloud icon), paste i

[2019-07-29 14:32] #75 closed

[2019-07-30 11:29] detj commented on #67
I just deprecated a package and realised Verdaccio does not show the deprecated message upfront.  And then landed on this issue. 😄

@juanpicado As per the syntax `npm deprecate <pkg>@[<version>] <message>`, `version` is optional. So, if a package is deprecated without version it implies all versions are marked deprecated? Correct me, if I'm understanding this wrong.

And, so, if all versions of a

[2019-08-08 21:25] griffithtp commented on #97
@juanpicado @sergiohgz
Hey guys I may have found a case where template string might be as good as Object
From https://github.com/verdaccio/ui/blob/master/src/components/Package/styles.ts#L135~L144
[code]
I am not too sure how we could define `@media` queries as object key here

[2019-08-08 21:31] juanpicado commented on #97
@griffithtp we might wait for material 4 and styles, I think they do support media queries with objects, I'm not 100% sure.

[2019-08-12 05:40] juanpicado opened #116 "Using React Hooks (Refactoring, New Components)"
**Is your feature request related to a problem? Please describe.**

React Hooks is a topic we wanna to raise up in order to keep modernize the project. Currently we rely on Classes components and Stateless components.

**Describe the solution you'd like**

Since this is a new topic for the big majority, here https://github.com/verdaccio/ui/pull/115 the first step.

**Describe alternatives you've c

[2019-08-12 05:52] juanpicado commented on #102
@DanielRuf seems nice, pretty much what I've seen in others by far. We need to run some test before choose anyone and see how might works with Crowdin.

[2019-08-17 11:49] griffithtp commented on #107
@sergiohgz @juanpicado can close this now? :)

[2019-08-17 11:52] sergiohgz commented on #107
I prefer to have it opened and fix them in a near future.

[2019-08-21 18:28] SamirMaina-districtm opened #118 "WebUI - JWT token not sent search requests"
**Describe the bug**
When using JWT tokens in the UI, searching always returns no results. Looking at the request made to `/-/verdaccio/search/`, the `Authorization` header is missing in the request.

If packages are protected by `$authenticated` in the config, this results in an authorization failure:
[code]

Using:
- Verdaccio 4.2.1 via docker-compose

Steps to reproduce the behavior:
1. Start v

[2019-08-21 21:19] SamirMaina-districtm commented on #118
Thanks for moving the issue @juanpicado.

I had a look and here are some more details:

Initiator in the Search component: https://github.com/verdaccio/ui/blob/d81b610e2ed9320c1b7e4383b0e7f909d82e3b26/src/components/Search/Search.tsx#L151

Relevant line in API class:
https://github.com/verdaccio/ui/blob/d81b610e2ed9320c1b7e4383b0e7f909d82e3b26/src/utils/api.ts#L39
- `options.headers` is undefined

[2019-08-23 15:35] lukebelliott opened #119 "Download tarball on Firefox and Edge doesn't work properly"
**Describe the bug**
Download tarball on Firefox and Edge doesn't open "Open with" dialog / save to default location.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to package page.
2. Click on 'Download tarball'

**Expected behavior**
"Open with" dialog should open (as in Chrome) / save to default location.

**Configuration File (cat ~/.config/verdaccio/config.yaml)**
Using default conf

[2019-08-25 12:34] #100 closed

[2019-08-25 12:52] juanpicado commented on #118
You were right @SamirMaina-districtm , I'll push this for the next patch.

[2019-08-25 15:39] #118 closed

[2019-08-25 15:53] #108 closed

[2019-08-26 06:05] juanpicado commented on #102
https://link.medium.com/08QfpgvAsZ

[2019-08-26 19:35] DanielRuf commented on #102
Intl is basically for helper methods as it formats dates, currency, time and a few more but is not intendend to implement i18n for a whole application.

Let's not reinvent the wheel and not do it from scratch.

[2019-08-27 04:35] juanpicado commented on #102
:-) sorry I did not have any better place to save the article 😊

[2019-08-27 05:14] DanielRuf commented on #102
Ah okay =)

[2019-08-31 09:02] #87 closed

[2019-09-01 11:09] #109 closed

[2019-09-10 05:06] zanjs opened #126 "authorization required to access packag 4.2.2"
[code]

config

[code]

[2019-09-10 06:02] #126 closed

[2019-09-14 07:14] juanpicado commented on #102
Intersting conversation and related https://github.com/gatsbyjs/rfcs/pull/42

[2019-09-24 11:51] prog83 opened #128 "In the built app not found fonts"
**Describe the bug**
in the built app not found fonts

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo
2. yarn install
3. yarn build
4. Replace folder `static` in `@verdaccio/ui-theme` or installing same as plugin (config `config.yaml` theme section)
5. http://localhost:4873/
6. DevTools (F12) -> Network

**Screenshots**
![изображение](https://user-images.githubusercontent.com/3101

[2019-09-25 14:45] ViceIce commented on #128
This is related to #108 , seeing this with verdaccio 4.2.2

[2019-09-25 14:46] ViceIce commented on #128
Also forcing `@verdaccio/ui-theme` to `v0.3.0` does not solve the issue.

[2019-09-25 14:48] ViceIce commented on #128
`~$ cat node_modules/@verdaccio/ui-theme/static/0.style.9777bf15428fe89a9b2c.css`
[code]

[2019-09-26 10:38] priscilawebdev commented on #116
Me when I saw it: 😍

[2019-09-26 10:39] priscilawebdev commented on #116
I will do this task 😉

[2019-09-27 11:40] gagandeepp commented on #116
@priscilawebdev  can I work on this too??

@juanpicado

[2019-09-27 14:52] priscilawebdev commented on #116
@gagandeepp yes sure... please just let me know which components you would to refactor 🙃

[2019-09-27 20:51] juanpicado opened #132 "Upgrade React to v16.10.0"
**Describe the solution you'd like**

Upgrade to https://github.com/facebook/react/releases/tag/v16.10.0

[2019-09-28 18:43] kopax opened #133 "[Bug] Roboto font make 404 request in the WebUI"
![image](https://user-images.githubusercontent.com/1866564/65821036-99e8f700-e230-11e9-98ac-d6b0d74598ac.png)

Changing `staticfonts` instead of `static/fonts` would fix it.

Verdaccion version 4.2.2

[2019-09-28 19:03] juanpicado commented on #133
Dupe
https://github.com/verdaccio/ui/issues/128

[2019-09-28 19:03] #133 closed

[2019-09-28 19:27] DanielRuf commented on #128
I will take a look at it. There is probably another solution which is better.

[2019-09-29 08:14] juanpicado opened #135 "CSS issue on hover / material-ui"
**Describe the bug**
Due migration to Material-ui@4 https://github.com/verdaccio/ui/pull/123 some CSS rules behave differently

**To Reproduce**
Steps to reproduce the behavior:
1. Load UI
2. Hover on packageItem author area

**Expected behavior**

No hover background color

**Screenshots**
![Kapture 2019-09-29 at 10 09 11](https://user-images.githubusercontent.com/558752/65829082-c557fa00-e2a1-11

[2019-09-29 14:36] #128 closed

[2019-09-29 14:44] #135 closed

[2019-09-29 19:28] FilipMessa opened #140 "Suggestion: Add the Storybook"
Will be nice for the developer experience to have some components playground.
I suggest using the Storybook because is easy to implement and customize.

Also with the storybook, you can integrate regressions test which is nice way how to test if components render properly. I don't like the jest component snapshot because on the end you end with big files full of lines of HTML markup.

__links:__
S

[2019-09-29 19:31] sergiohgz commented on #140
Storybook is a good option to create libraries, but in this case, is a final application, so the components should not go out of the scope of this plugin.
But thinking about the developer experience for the app, if we keep it out of the scope of the package build, is a real nice to have :smile:

[2019-09-29 21:55] sergiohgz commented on #132
Let me verify changes and update this

[2019-09-30 09:11] FilipMessa commented on #140
@sergiohgz
Sure It should not be part of the build, It should be just for a dev environment.

Storybook has also can be useful in other projects then UI library because when the app growing is nice to see all implemented component on one place without the need to run the whole application. It brings more advantage as you can easily check what components are ready to use, how looks their API, even

[2019-09-30 18:44] karthick-manoharan commented on #84
Taken. Will raise a PR in a day or two

[2019-10-01 14:14] gagandeepp commented on #116
@priscilawebdev  I will be refactoring login module

[2019-10-01 18:10] cowchimp commented on #84
Hi.
Long time user, first time contributor 😄

I want to help with this, but just to make sure:
If I understand correctly, the issue states that the latest package version is missing in the "package sidebar".
But I do see the latest package version on the right in the README tab.
Is this not where it's claimed to be missing? Is it missing somewhere else?
Thanks!

![image](https://user-images.github

[2019-10-01 19:18] juanpicado commented on #84
I think you are right :D I did it myself, I think this ticket is outdated. I will close it. 👍

[2019-10-01 19:18] #84 closed

[2019-10-01 19:55] sumanbh commented on #119
I took a stab at it [here](https://github.com/verdaccio/ui/pull/144/files). Let me know what you think.

[2019-10-02 05:12] gzuzmark commented on #132
Hi, I'm Jesus Marquez. Is this an issue I can help with? Let me know if I can contribute to this one.

[2019-10-02 08:49] sergiohgz commented on #132
All yours @gzuzmark :wink:

[2019-10-02 10:08] lukebelliott commented on #119
Works for me, thanks!

[2019-10-02 11:08] nutboltu commented on #116
@priscilawebdev and @juanpicado Can I also work on this issue?

[2019-10-02 20:38] juanpicado commented on #116
go ahead @nutboltu 👍

[2019-10-03 10:47] #119 closed

[2019-10-03 10:57] antoinechalifour opened #151 "Lots of @ts-ignore in the codebase"
**Is your feature request related to a problem? Please describe.**
Right now there are of `@ts-ignore` :
- in styles because the styled components are not typed correctly.
- in places where `window.XXX` is used
- in various other places :)

**Describe the solution you'd like**
- We could improve the code base by typing styled components :) https://emotion.sh/docs/typescript#passing-props
- We coul

[2019-10-03 11:31] antoinechalifour commented on #151
Currently working on it on this branch: https://github.com/antoinechalifour/ui/tree/fix-ts-ignore

[2019-10-03 18:21] FilipMessa commented on #140
Cool, I'll take care of it over the weekend.

[2019-10-04 18:18] antoinechalifour commented on #151
I opened #153 which should fix some of them. This PR is mostly changes in typings so it does not impact the runtime :)

[2019-10-05 10:09] juanpicado commented on #151
I am looking into it. :)

[2019-10-05 17:31] #132 closed

[2019-10-06 14:23] priscilawebdev opened #162 "ForwardRef warnings"
**Current behaviour:**
As we are using a Material UI version above v3 and not all of our components in conjunction with Material-UI are not able to pass down the reference of parents to their children, we are  getting some warnings about ForwardRef.

Example:

**Expected behaviour:**

We should wrap all Material UI components with ForwardRef, in order to fix this issue. You can read more about her

[2019-10-06 15:08] juanpicado commented on #162
Great research.

[2019-10-06 18:36] antoinechalifour commented on #97
Any news regarding this issue ? As of today it seems the project is using at the same time:

- the `css({})` syntax from **emotion**
- the `css``` syntax from **emotion**
- `styled('tag')``` from **react-emotion**

It would be great to unify those. Please note that react-emotion is not relevant anymore, and `@emotion/styled` should be used instead https://yarnpkg.com/en/package/@emotion/styled

I'

[2019-10-07 05:52] #151 closed

[2019-10-07 08:38] FilipMessa opened #166 "Failing snapshots tests"
**Describe the bug**
I downloaded a fresh master branch, installed the node modules with `yarn install`, run `yarn lint && yarn test` and then 23 snapshots test failed.

**To Reproduce**
Steps to reproduce the behavior:
1. clone repo
2. run `yarn install`
3. run `yarn lint && yarn test`

**Expected behavior**
I didn't change anything so tests should passed.

**Screenshots**
<img width="817" alt="S

[2019-10-07 11:00] FilipMessa commented on #166
@sergiohgz 🤔
I don't have any changes in `yarn.lock` after-run `yarn install`, nevermind
I tried to use the `yarn install --frozen-lockfile` but in the end, I get same results.

Environment:
[code]
The Jest version should be from the package.json.

[2019-10-07 12:28] sergiohgz commented on #166
I don't have macOS to test it, but let me try in a CI running over macOS.

[2019-10-07 12:33] sergiohgz commented on #166
CI using macOS has passed using [Node 10](https://github.com/verdaccio/ui/runs/250521111) and [Node 12](https://github.com/verdaccio/ui/runs/250521147).
Take a look if you have something installed globally that breaks the tests. Also, run `jest --clearCache` to ensure that Jest cache is not corrupted

[2019-10-07 13:24] FilipMessa commented on #166
I clear the cache as you suggested, and then I passed. 👍
Thanks for help

[2019-10-07 13:24] #166 closed

[2019-10-07 13:26] sergiohgz commented on #166
Perfect, Jest cache sometimes is a little bit weird

[2019-10-08 19:25] antoinechalifour opened #168 "Disable eslint rules"
**Is your feature request related to a problem? Please describe.**
Some Eslint rules are really strict and are actually considered anti-pattern (for instance `eslint(react/jsx-no-bind)`).

Similarly :
- I don't see why `react/jsx-no-literals` is helping with the code base, its adding unnecessary syntax that is not really idiomatic to any other React codebase
- `react/destructuring-assignment` is r

[2019-10-09 12:29] sergiohgz commented on #168
@antoinechalifour thanks for the points, are really helpful to improve our ESLint config. I am rethinking all the linting rules using our base [@verdaccio/eslint-config](https://github.com/verdaccio/monorepo/tree/master/tools/eslint-config) and the [fixed config for UI](https://github.com/verdaccio/ui/tree/master/.eslintrc). Stay tuned for more :wink:

[2019-10-11 14:33] tmkn opened #175 "Spelling error in packageMeta.ts"
**Describe the bug**
`packageMeta.ts` incorrectly defines an attribute `distTags` for `PackageMetaInterface`. Afaik that attribute should be called "dist-tags"
https://github.com/verdaccio/ui/blob/99621b6baf6f4cd52bf7e9e03fb03e3b99076eca/types/packageMeta.ts#L3

It is accessed in `Version.tsx`:
https://github.com/verdaccio/ui/blob/99621b6baf6f4cd52bf7e9e03fb03e3b99076eca/src/components/Versions/Ve

[2019-10-11 22:06] #175 closed

[2019-10-12 15:02] FilipMessa commented on #162
Do you need `forwardRef` for all components?
I didn't see that you use ref in all components from the `material-ui`  What is the reason for that?  Maybe I missed something.

BTW:  Does anybody know why I have few lint errors in my branch related to `./muiComponents` folder? (https://github.com/verdaccio/ui/pull/189)

Thanks, I am a beginner with typescript so any Idea will be welcome.

[2019-10-12 17:24] tmkn opened #191 "Explanation of isVersionValid needed"
I'm currently trying to add types to
https://github.com/verdaccio/ui/blob/fdbdb6303bd3d29336eeb105efb0bf6a0fc01f0c/src/pages/Version/Version.tsx#L26
but I'm lost how to interpret the code.

`packageVersion` can apparently be optional, if it is, `isVersionValid` returns `true`?
https://github.com/verdaccio/ui/blob/fdbdb6303bd3d29336eeb105efb0bf6a0fc01f0c/src/pages/Version/Version.tsx#L29
Is that co

[2019-10-13 07:54] juanpicado opened #193 "Wrong test on Registry Info"
**Describe the bug**

Latest changes seems affected the Typography  of these fields

<img width="796" alt="Screen Shot 2019-10-13 at 9 53 33 AM" src="https://user-images.githubusercontent.com/558752/66712609-687b3a00-ed9f-11e9-82a0-0453f3c62bf0.png">

Check here previous state: https://registry.verdaccio.org

[2019-10-13 07:56] juanpicado commented on #162
hi @FilipMessa, please double check you have all changes from master, if the issue persist I will take care of it.

[2019-10-13 07:59] juanpicado opened #194 "Page 404 miss some padding"
**Describe the bug**
<img width="591" alt="Verdaccio_-__verdaccio_active-directory" src="https://user-images.githubusercontent.com/558752/66712660-1e468880-eda0-11e9-9845-3f0f23ae63a1.png">

[2019-10-13 08:03] juanpicado commented on #168
We need to get rid of them, I guess only few of them remains.

The reason behind of it is https://github.com/verdaccio/ui/issues/102 which I want to introduce it soon.

Could you give me an example @antoinechalifour ?

Let's share them, perhaps I'm not aware of it. 🙃

[2019-10-13 08:33] FilipMessa commented on #162
@juanpicado I used a rebase, so everything should be updated, but the problem still persists.
I have a plan to find some time and look at that today again but  I appreciate any help. 😉
thanks

[2019-10-13 08:55] juanpicado commented on #102
I will work on this.

[2019-10-13 09:55] juanpicado commented on #162
I will take a look no worries, for now just use `--no-verify` on commit so do not block you if you wan to push changes.

[2019-10-13 10:52] jfamousket commented on #194
fixing this :)

[2019-10-13 11:06] juanpicado commented on #194
Let me verify again, I noticed it in production mode.

[2019-10-13 11:09] juanpicado commented on #102
My strategy:

- fetch data from crowdin
- create some sort of data for UI
- prepare data for i18n react plugin
- prepare build
- add new config param for chosen language
- build some test
- cross fingers all works
- new translations will be available to download only those has rights and periodically (later on we can automate this)
- I want crowdin be the central point for all translations

[2019-10-13 20:01] juanpicado opened #199 "Testing: Remove snapshots or limit them to small components rather pages"
**Is your feature request related to a problem? Please describe.**

Avoid

[code]

It has 0 value with enzyme, is rather annoying to update them.

**Describe the solution you'd like**

- Replace by Testing library, find text or id.
- PR peer component (there are 39 matches in our source code)

[2019-10-15 01:40] gdeusdara commented on #194
Maybe it depends on your browser! I'll check now

[2019-10-15 02:00] gdeusdara commented on #194
I got this without touching a single of code
<img width="776" alt="Screen Shot 2019-10-14 at 22 58 59" src="https://user-images.githubusercontent.com/30842015/66794042-5819ab00-eed6-11e9-9492-1405379c4aaa.png">

[2019-10-15 05:37] #193 closed

[2019-10-16 06:50] juanpicado commented on #194
From where did you take that screenshot ?

[2019-10-16 07:28] jfamousket commented on #194
@juanpicado I took mine in chrome

[2019-10-16 16:30] gdeusdara commented on #194
@juanpicado I took mine in chrome too, at master

[2019-10-17 05:30] juanpicado opened #208 "Package managers section has wrong icons vs description"
**Describe the bug**

<img width="422" alt="Screen Shot 2019-10-17 at 7 25 27 AM" src="https://user-images.githubusercontent.com/558752/66980029-dda48300-f0af-11e9-9e5f-294020b460e3.png">

**Expected behavior**

- Package managers match with each icon
- Include test that prove this won't happen again

[2019-10-18 16:36] V1shvesh commented on #208
Shall I fix this issue?

[2019-10-18 16:49] tmkn commented on #191
@juanpicado @priscilawebdev any input  on this please ?

[2019-10-19 05:47] juanpicado commented on #191
`isVersionValid` verifies whether the version exist in the package metadata. The main reason is anyone could do this

[code]

and we verify wether `fakeVersion` is in the list of versions retrieved from the backend.

<img width="1506" alt="Screen Shot 2019-10-19 at 7 39 02 AM" src="https://user-images.githubusercontent.com/558752/67138450-8df6c080-f243-11e9-8ef1-5d84f77127c8.png">

About the type.

[2019-10-19 12:17] juanpicado commented on #208
Go ahead @V1shvesh :-)

[2019-10-19 23:07] abc516 commented on #107
Hi @sergiohgz @juanpicado I'd be interested in tackling some of the issues posted. Which of them are still relevant?

[2019-10-21 17:13] V1shvesh commented on #208
Hey @juanpicado! I am trying to run a single test `Install.test.tsx`, but there seems to be an issue while I try to run it.

Command I used to invoke the test: `$ npx jest ./src/components/Install/Install.test.tsx`

Error:
[code]

Am I doing something wrong?

[2019-10-21 18:59] juanpicado commented on #208
Use this example as guidance.
[code]

[2019-10-23 23:43] agar23 commented on #116
@juanpicado any components I can take up?

[2019-10-24 09:33] priscilawebdev commented on #116
@agar23 thank you for reaching out! What do you think about the component "PackageList"? it would be really nice to have it as a Functional component 😉

[2019-10-24 15:40] anikethsaha commented on #208
On it 👍

[2019-10-24 17:34] agar23 commented on #116
sounds good! I will take a stab at it and submit a PR.

[2019-10-25 12:06] anikethsaha commented on #199
I think components using styling using `emotion` should not have snapshot testings!
Cause class name using emotion is dynamic and it will change on every run.

[2019-10-25 12:51] anikethsaha commented on #194
### Production ss

![image](https://user-images.githubusercontent.com/26347874/67572507-f23de680-f753-11e9-9895-fde32e31013f.png)

### Master

![image](https://user-images.githubusercontent.com/26347874/67572533-fe29a880-f753-11e9-9b81-4ad520270fe7.png)

Also
Why there are some difference between the production code and master ?
Like there are hover effects in the package detailed page for master

[2019-10-25 14:52] anikethsaha opened #217 "[Minor-feat]: adding tarball download button in the packages lists"
**Is your feature request related to a problem? Please describe.**
It would be a better experience for the developer to have the download button for the tarball in the packages list itself like that other two repo and bug buttons.

**Describe the solution you'd like**
To have the download button in the list item's right side along with the other buttons

**Describe alternatives you've considered**

[2019-10-26 09:41] juanpicado commented on #199
@anikethsaha agree with you, our configuration was not generating random classnames with emotion, so, snapshots should not be affected. If is the current situation, then is a bug.

[2019-10-26 09:58] juanpicado opened #221 "Migrate to Emotion 10"
**Is your feature request related to a problem? Please describe.**

https://emotion.sh/docs/migrating-to-emotion-10

**Describe the solution you'd like**

A slow process to migrate emotion 10.

[2019-10-26 09:59] juanpicado commented on #217
I like this 👍

[2019-10-26 10:00] juanpicado commented on #199
Currently seems snapshots are generating random CSS name class, we need to figure out why.

[2019-10-26 10:31] anikethsaha commented on #217
Thanks. I have started working on that.
Just one thing though, Any idea why in `downloadhandler` when using in the `package` component is giving CORS error. I did add the `referrer` header as well.

[2019-10-26 10:42] anikethsaha commented on #199
if this problem persists, maybe migrating to emotion 10 may work as in v10, the styling is inline rather than class name.

[2019-10-26 10:42] juanpicado commented on #217
There is no big magic behind the scenes, the domain is the same, we use webpack proxy ro route all request to the mock backend.

<img width="857" alt="Screen Shot 2019-10-26 at 12 41 25 PM" src="https://user-images.githubusercontent.com/558752/67618313-f880a100-f7ed-11e9-973c-90723deaabda.png">

[code]

[2019-10-26 10:43] juanpicado commented on #199
That's the idea, #221  but @sergiohgz has some concerns about the complexity with Typescript.

[2019-10-26 11:50] anikethsaha commented on #221
[code]

I am working on this codemod.  Will provide the link here so that it can be used by others!

[2019-10-26 14:01] anikethsaha commented on #221
As 9 -> 10 has some major changes, I guess it would be better to have a separate branch here and then work on that.

[2019-10-26 14:08] juanpicado commented on #221
Yeah, it will be a big change, I'd prefer a PoC and then deep testing to see what might need to be changed. I tried in the past and I failed due the massive  changes required.

[2019-10-26 14:13] anikethsaha commented on #221
I will **_try_** to give it a shot.
Its a pretty big work but I think at some point this needs to be done in order to keep using emotion

[2019-10-26 15:06] juanpicado commented on #199
This is want I want to avoid ...

<img width="1630" alt="Screen Shot 2019-10-26 at 5 05 39 PM" src="https://user-images.githubusercontent.com/558752/67621718-e533fc80-f812-11e9-925f-8424702782fd.png">

[2019-10-26 15:09] juanpicado opened #226 "Update date-fns@2.x"
**Is your feature request related to a problem? Please describe.**

Update to latest `date-fns`

**Describe the solution you'd like**

There are some **breaking changes** we need to solve.

**Additional context**

Some imports are missing and the methods for format date must be tested and checked deeply.
https://date-fns.org/v2.0.0-alpha.18/docs/formatDistance

[2019-10-26 15:31] anikethsaha commented on #199
mm... I think this is related to material not particularly with emotion.

[2019-10-26 15:33] anikethsaha commented on #217
@juanpicado I am getting this when using the exported `downloadHandler` from  `ActionBar`

![image](https://user-images.githubusercontent.com/26347874/67622066-ff320700-f833-11e9-9853-bccfe41b6d11.png)

[2019-10-26 15:39] anikethsaha commented on #217
Here is the implementation

https://github.com/anikethsaha/ui/blob/4bdf0168fe6687743e182559fddb38b1621fa3b9/src/components/Package/Package.tsx

[2019-10-26 16:08] juanpicado commented on #217
🤔 why your code is fetching from npmjs?

[2019-10-26 16:12] juanpicado commented on #217
The `dist.tarball` should point to `localhost`.
<img width="748" alt="Screen Shot 2019-10-26 at 6 11 53 PM" src="https://user-images.githubusercontent.com/558752/67622618-267cda00-f81c-11e9-91a4-48c46d57336d.png">

[2019-10-26 16:56] anikethsaha commented on #217
Yeap.....the `dist.tarball` is having `npmjs` as link.
this is what I am getting in the props for package component

![image](https://user-images.githubusercontent.com/26347874/67623128-92246e80-f83f-11e9-98d3-ed22747e4e20.png)

[2019-10-26 17:14] anikethsaha commented on #199
Also, as using emotion, I saw `jest-emotion` is used to serialize the snapshots, it's being used in the jest config, but as per the docs `expect.addSnapshotSerializer(serializer)` needs to be added in the test files, Is it missed currently or handled in some other way?

[2019-10-28 04:51] juanpicado commented on #221
If it requires too much work I would find the way to make it by steps but I think is kinda impossible. This is not my first priority at this moment, can wait.

[2019-10-28 05:03] anikethsaha commented on #221
Yeah agreed. I tried a bit, I am getting type errors a lot .
I think the current snapshots problem for emotion may be because of this https://github.com/verdaccio/ui/issues/199#issuecomment-546622167

[2019-10-28 06:46] juanpicado commented on #221
I would like remove snapshots at all, they have proved to be useless, this will help with this migration. But if we remove them need to be replaced by a new unit test with testing library.

[2019-10-28 10:12] anikethsaha commented on #221
One thing can be done is, remove snapshots, migrate to emotion 10, then later add snapshot or unit.
or
Simply remove snapshots for now and keep emotion at v9 itself and add unit tests

[2019-10-30 06:07] #226 closed

[2019-10-31 18:26] juanpicado commented on #116
@priscilawebdev do we have something else here to be done? we have done plenty of it already 🚀

[2019-11-01 03:59] universeroc opened #236 "Faild to pass pre-commit hook"
**Describe the bug**

pre-commit hook prevents my all code to commit to the repository event just one line e.g.
[code]
**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'src/utils/package.ts'
2. Modify the code
[code]
3. git add -u && git commit -m "Update TIMEFORMAT"
4. See error

**Expected behavior**

commit pass

**Screenshots**
If applicable, add screenshots to help explain your pro

[2019-11-02 20:19] anikethsaha commented on #208
you can close this as this has been fixed in #211

[2019-11-02 20:21] anikethsaha commented on #217
@juanpicado any way to fix that wrong domain ?
The workaround I think is that to manually replace the domain name with localhost? What do you think

[2019-11-02 21:12] #208 closed

[2019-11-02 21:12] juanpicado commented on #217
if you push your branch, I could take a look.

[2019-11-03 04:54] anikethsaha commented on #217
https://github.com/anikethsaha/ui/blob/small-feat/tarball-btn-at-list/src/components/Package/Package.tsx

Here is the branch !!

[2019-11-04 06:33] juanpicado commented on #217
Thanks @anikethsaha I'll check it out when I have some free time.

[2019-11-04 14:45] agar23 commented on #199
@juanpicado need any help refactoring the other test's that are not using emotion? I would love to help help out on this front if needed.

[2019-11-04 14:48] agar23 commented on #1
@priscilawebdev  I would like to take this up? any guidance from work done already?

[2019-11-05 15:21] priscilawebdev commented on #116
@juanpicado sorry I could not answer your question in the past days. I've just checked and we still have to convert the following components:

- Repository
- Search
- Login (LoginModal)
- ActionBar

[2019-11-05 23:15] agar23 commented on #116
I can take up Login & ActionBar if possible.

[2019-11-06 02:09] universeroc commented on #236
.secrets-baseline already tracked in the git repo

[2019-11-06 06:13] juanpicado commented on #116
go ahead @agar23  ! Thanks for the help.

[2019-11-06 06:17] juanpicado commented on #1
@agar23 let's wait for now. I'm working on https://github.com/verdaccio/verdaccio/pull/1546 which will clarify many things.

[2019-11-06 06:37] juanpicado commented on #236
Perhaps @lirantal can help here.

btw @universeroc . I noticed the commit format is wrong `git add -u && git commit -m "Update TIMEFORMAT"`

Read here how to do it https://github.com/verdaccio/verdaccio/blob/master/CONTRIBUTING.md#commit-guidelines

[2019-11-07 07:28] universeroc commented on #236
Yeah, OK, got it! But the pre-commit hook can not pass even with right format, it's the core issue :(

[2019-11-07 13:20] lirantal commented on #236
I'll take a look 👀

[2019-11-07 13:23] lirantal commented on #236
I just did now a fresh clone of the repo followed by a yarn install, made the change as showing here and tried to commit, detect-secrets pass but the commit fails due to the commit conventions:

![image](https://user-images.githubusercontent.com/316371/68392427-72ac1080-0172-11ea-96ca-82d802a988ea.png)

if I use a proper commit message this works just fine though:

![image](https://user-images.git

[2019-11-07 13:28] lirantal commented on #236
Actually the above is not accurate since I believe that on my local dev environment it just skipped that hook so I'm still looking into it.

[2019-11-07 17:04] #217 closed

[2019-11-07 18:59] lirantal commented on #236
Took another look at it and I can't spot any issues, seems to work on my end. Maybe another dev can try making a small change, committing and seeing if this reproduces an error?

@universeroc can you track again your steps or try from a clean master version again and note everything that you do so I can try to follow-up on the same commands?

[2019-11-08 10:10] universeroc commented on #236
Yeah, great to get your reply, seems that you're working on Mac? I'll try it on my Mackbook and show the results

[2019-11-08 10:15] lirantal commented on #236
I'm on a mac here. Thanks!

[2019-11-08 10:18] universeroc commented on #236
Yeah, it proves that this bug only occurs on Windows

![image](https://user-images.githubusercontent.com/3518853/68468969-220ce400-0254-11ea-9ea0-ea2eec1c1681.png)

[2019-11-08 11:57] lirantal commented on #236
Just a sec though, because that error now is related to the linting of commit messages, not the secrets. Try to commit with a proper message like `git commit -m "feat: update readme"`

[2019-11-11 02:06] universeroc commented on #236
Sorry to tell you, it's the not the primary source of this error. I've tried to use a good commit message to commit, but the console error message is all the same with previous.

![image](https://user-images.githubusercontent.com/3518853/68555900-e4ce6f00-046a-11ea-88f9-88035e241924.png)

[2019-11-11 16:01] r3wald opened #263 "Broken links when using reverse proxy with prefix (again)"
**Broken links when using reverse proxy with prefix**
When connecting to verdaccio through a reverse proxy with a prefix, links break.
This was already addressed and fixed: https://github.com/verdaccio/verdaccio/issues/753
It was probably fixed in verdaccio 3.x but not in verdaccio/ui.

**To Reproduce**
see https://github.com/verdaccio/verdaccio/issues/753
and https://github.com/verdaccio/verdacci

[2019-11-11 22:01] DanielRuf commented on #263
Hi @r3wald,

thank you very much for reporting this bug.
Do you already know what has to be changed to fix that?

[2019-11-11 22:09] DanielRuf commented on #236
Hm, this is weird. Is this a bug with Husky or something else?

[2019-11-11 22:20] DanielRuf commented on #97
Hi @antoinechalifour,

no news so far. There are things with a higher priority on our list.

[2019-11-12 18:30] anikethsaha opened #269 "[Feature]: Color themes using emotion-theme"
**Is your feature request related to a problem? Please describe.**
It's good to have a different color theme for the UI. Like dark mode, light mode, etc.
Theming can be done with as minimal as possible as what I saw there isn't many points where it needs to be changed.
I thought of having a separate UI theme plugin for this. But as this is not so big and huge, having a separate package to achieve

[2019-11-15 10:25] anikethsaha commented on #269
cc @juanpicado @priscilawebdev

[2019-11-15 22:17] priscilawebdev commented on #269
Hi @anikethsaha !

Wow, I love the idea of having a dark mode in the Verdaccio UI 😀👏

I created a separate folder called muiComponents, first because of the forwardRef problem, but my biggest motivation behind this is to create theme. For a long time, I want to use ThemeProvider from the Material UI, but I haven't really had enough time to do this so far. I think it will be easier because we are a

[2019-11-16 01:20] juanpicado commented on #269
hi @anikethsaha great, one suggestion, rather to use the green logo, why don't use the black one https://verdaccio.org/docs/en/logo ? ;-) then you would get a better combination.

@priscilawebdev I like the idea of https://material-ui.com/customization/theming/ and I know that's what we are pursuing, but I'm not sure how far are we from that, could you create a detailed ticket explaining it? eg: s

[2019-11-16 01:23] juanpicado commented on #269
@anikethsaha @priscilawebdev furthermore, would be great to have a new package `@verdaccio/logo` in monorepo with all svg on it? ... just an idea.

[2019-11-16 06:48] anikethsaha commented on #269
I am + 1for either of theme provider.
What I saw by implementing using `emotion` is that it was quite easy to integrate and with 0 rewrite of any component core.
But i can see that `material-ui` is pretty advance and has some good api to support it.
I guess we can have one PoC with material.

Also here is not just dark mode, we can have more theme as well https://github.com/anikethsaha/ui/blob/dar

[2019-11-16 06:56] juanpicado commented on #269
My point is create a distribution of logo, so can be used also in the website as dependency, not only in UI.

[2019-11-16 06:59] anikethsaha commented on #269
Yeah It would be good to have it.

[2019-11-18 10:10] priscilawebdev commented on #269
@juanpicado @anikethsaha I have done some tests and my final conclusion is: We really need to update emotion in order to use it's theme.

I will open a PR still in progress adding the theme :-)

[2019-11-18 10:14] anikethsaha commented on #269
Updating emotion is again a pain point of itself. Even I tried that before this PoC and had quite a good number of type errors.
I guess using material-ui theme provider can work here.

_But again we need to migrate to emotion@10_

[2019-11-18 10:16] anikethsaha commented on #269
also, @priscilawebdev would appreciate if you can create a tracking issue :octocat:  for the theme.

[2019-11-18 15:19] priscilawebdev commented on #269
@anikethsaha I have just done the emotion migration + added the theme (a part of it). Please see https://github.com/verdaccio/ui/pull/286

[2019-11-18 15:33] anikethsaha commented on #269
@priscilawebdev can we do the custom component styling using material itself. https://material-ui.com/customization/components/
Having both emotion and material may increase the load and those snapshots might not be consistent.

Material does use a styling library (https://github.com/mui-org/material-ui/blob/master/packages/material-ui-styles/package.json#L52-L59) so we can use that too if require

[2019-11-18 22:16] lirantal commented on #236
what is very odd here is that `detect-secrets-launcher` tries to execute with some files I assume but fails, however which file is provided to it? because it looks like both changed files are not staged for commits, so they shouldn't be provided to it. Perhaps that's the issue. What happens if you add them, and then commit?

[2019-11-19 04:50] juanpicado commented on #269
@priscilawebdev your RP https://github.com/verdaccio/ui/pull/286 means we are betting for emotion rather any other library?

@anikethsaha I think @priscilawebdev mentioned few months ago the performance issues that Material-ui styles has, I think se can elaborate a bit more.

@anikethsaha would you like yo review https://github.com/verdaccio/ui/pull/286 ?

[2019-11-19 07:51] anikethsaha commented on #269
Yea, i guess we can discuss this a bit
Can you mention the issue or PR where you had the discussion.

What I can right now is that this ui has currently 2 css in js library. _material is using jss_

Although the material's stlyling is opt-in-out integration so in the final bundle I dont think those will be included if material-styled is not being used.

But still I can say that having one styling

[2019-11-20 08:56] priscilawebdev commented on #269
Hi @anikethsaha yes I agree with you. If I haven't had some problems with Material UI, I would love to use only this library, but as you can see in this issue: https://github.com/mui-org/material-ui/issues/17196 I had some performance issues, because of the jss. I am also aware that MUI will migrate again to styled-components..

![image](https://user-images.githubusercontent.com/29228205/69223502-

[2019-11-20 09:08] anikethsaha commented on #269
https://github.com/mui-org/material-ui/issues/16756#issuecomment-527848720

Yeah....bad idea to use material/styled right now. maybe later when they migrate to styled-component

let's keep emotion then 👍 .

Yea sure! anyway, I don't think we need other option right now!, I am +1 for this one 😃

[2019-11-21 21:51] a666 opened #301 "Suggestion: Perhaps support additional protocols in the package repository section"
Right now only the following are protocols are classified as URL and displayed by the web interface:

https://github.com/verdaccio/ui/blob/b56e43846bc1492d15cd5c4e49857e4f1bfa4c1c/src/utils/url.ts#L7

Perhaps it would be useful for other protocols to be supported, specially all protocols that package.json supports. These being git, git+ssh, git+http, git+https and git+file.

Is there a particular

[2019-11-21 22:40] juanpicado commented on #301
Hi,

I understand your point of view, but the protocols

[code]

won’t be useful in the UI, user won’t be able to download a file and so own. Anyway, I would prefer encourage users to use http protocols which is the one we use to fetch packages.

[2019-11-21 22:44] juanpicado commented on #301
Wait a minute ... you refer to repositories .... not tarballs ...

[2019-11-21 22:56] a666 commented on #301
![image](https://user-images.githubusercontent.com/19142162/69383480-55e9ff80-0c7f-11ea-9b8c-a4a19d0b2816.png)

That's right. In our particular use case copying the repository, the git+ssh url, to clipboard would be very useful for our private packages.

[2019-11-23 12:43] juanpicado commented on #301
hi @a666 I think make sense what your purpose, but keep on mind the same components is used in other places. For me is +1 your enhancement.

[2019-11-23 12:45] juanpicado commented on #269
Ok guys @anikethsaha @priscilawebdev has added theme support, I think we can move this ahead. @anikethsaha would you like to PoC again on top of the new theme provider?

[2019-11-23 12:46] juanpicado commented on #221
done by @priscilawebdev  👏

[2019-11-23 12:46] #221 closed

[2019-11-23 13:15] anikethsaha commented on #269
I guess the current looks good 💯 . Excited to add some themes in the future 😃.

I guess this issue is good to close 👍

[2019-11-23 13:15] #269 closed

[2019-11-24 10:24] juanpicado opened #309 "isUserLoggedIn prop is not being used"
**Describe the bug**

`isUserLoggedIn` is being set on `AppRoute` but not being used within `Home`.

[code]

[2019-11-24 19:00] juanpicado opened #310 "Info dialog is broken, registry url is incorrect"
**Describe the bug**

Detail explanation here https://github.com/verdaccio/ui/pull/300#issuecomment-557917138

![Screen Shot 2019-11-24 at 7 52 52 PM](https://user-images.githubusercontent.com/558752/69499685-03b21400-0ef5-11ea-9a50-97169c1f17e8.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Run `yarn dev`
2. Open info dialog

**Expected behavior**

The registry url is correct.

**Scre

[2019-11-25 12:57] anikethsaha commented on #310
Keeping the url in top-down props may be helpful here

[2019-11-25 15:42] a666 commented on #301
Want me to do a PR?

[2019-12-06 22:43] priscilawebdev commented on #116
I believe we have achieved it today!  thank you for all the contributions 💪🙂

[2019-12-06 22:43] #116 closed

[2019-12-06 22:44] priscilawebdev commented on #162
I believe we can already close this one 👏🙂

[2019-12-06 22:44] #162 closed

[2019-12-10 19:40] 9ae8sdf76 commented on #263
Hi @DanielRuf.  Is there any progress on this issue? I'm having the same problem, and it's a HUGE show-stopper; can't use verdaccio at all. Please advise.

[2019-12-10 19:49] 9ae8sdf76 opened #358 "Custom Logo from Filesystem Not Loading Behind ReverseProxy"
**Describe the bug**
When using a ReverseProxy that sets the `url_prefix` and setting `web.logo` to a file on the filesystem, the URI generated for the `<img src="...">` does not include the `url_prefix` and causes the image to not load. The URL for the logo is generated correctly, but not the URI for the image.

[2019-12-10 19:58] DanielRuf commented on #263
Hi @9ae8sdf76,

as you can see there was no update regarding this. Please provide as much information as possible so we can test it.

[2019-12-11 08:07] juanpicado commented on #263
Context is here

https://github.com/verdaccio/verdaccio/issues/1523#issuecomment-564188193

I will try to look into it (patience we are in holiday season 🙂 🎄)

[2019-12-12 06:19] juanpicado opened #361 "Display funding on UI"
**Is your feature request related to a problem? Please describe.**

Currently the metadata has a new field, funding, supported by the command `npm fund` and I want to display it in the UI.

[code]

Context: https://github.com/npm/rfcs/pull/54

This also requires, update https://github.com/verdaccio/monorepo/tree/master/core/types

**Describe the solution you'd like**

1. Just below the package nam

[2019-12-12 11:21] priscilawebdev commented on #361
I really like the idea!! Can I take it over?  @verdaccio/core-team  😀

[2019-12-12 11:32] DanielRuf commented on #361
Great idea.
This would be cool @priscilawebdev =)

[2019-12-12 12:34] hugoazevedosoares commented on #361
Nice one. I think the number 2 proposal will look better, but on proposal 3 it may be more visible.

[2019-12-12 12:57] DanielRuf commented on #361
I think proposal 3 is best (clearly shown as external link).

Wasn't there also a demo of npmjs with the funding links?

[2019-12-12 13:06] anikethsaha commented on #361
+1 for this.
Lets go with 3rd with a wide button like npm is having it now.

[2019-12-13 03:48] 9ae8sdf76 commented on #263
Thank you @juanpicado. It should also be noted that not only are the resource links being written without the url_prefix, they are also being written in mixed-content (http instead of https), and the XHR URLs are written insecure as well, causing the browser to block them due to the default CSP.

[2019-12-16 17:26] juanpicado commented on #361
Thanks guys I think proposal 3 would be.

[2019-12-16 20:06] juanpicado opened #371 "background for icons is not transparent"
**Describe the bug**

Some shadows surround the icons.

![Screen Shot 2019-12-16 at 9 04 49 PM](https://user-images.githubusercontent.com/558752/70939056-c0f0e100-2047-11ea-9677-a6df726cdf67.png)

**To Reproduce**
1. Just go to any detail page

**Expected behavior**

White or transparent brackground

[2019-12-16 20:10] juanpicado opened #372 "Front-page of mobile view looks overladed"
**Describe the bug**

Mobile view of front-end page looks overloaded.  On mobile does not make much sense to display all info which do not fit. We might create a threshold for small screens and medium screens.

**To Reproduce**

* When there is no description
* *Published on* clearly does not fit on mobile
* See date `*Published 1 month ago*

https://registry.verdaccio.org/

**Expected behavior**

[2019-12-16 20:11] juanpicado commented on #371
Also ...

![Screen Shot 2019-12-16 at 9 10 58 PM](https://user-images.githubusercontent.com/558752/70939448-93f0fe00-2048-11ea-939c-d03118eda5e3.png)

[2019-12-16 20:17] juanpicado opened #373 "Background and container is duplicated"
**Describe the bug**
There is a double container which add extra 15px padding to the whole container. Furthermore the background is not white `#FFFFF` anymore.

**To Reproduce**

Compare `yarn dev` `http://localhost:4872/-/web/detail/verdaccio` vs `https://registry.verdaccio.org/-/web/detail/verdaccio`

**Expected behavior**

Remove the extra-container

**Screenshots**
Before

<img width="1380" al

[2019-12-16 20:22] juanpicado opened #374 "Header icon is displaced in header"
**Describe the bug**

The icon is displaced and not centered anymore.

![Kapture 2019-12-16 at 21 20 16](https://user-images.githubusercontent.com/558752/70940138-fac2e700-2049-11ea-8c5c-6a58695d3701.gif)

**To Reproduce**

Just compare local master

`http://localhost:4872/-/web/detail/jquery`
vs
`https://registry.verdaccio.org/-/web/detail/jquery`

**Expected behavior**

Icon should be center and

[2019-12-17 10:08] pianfeng240 opened #395 "get font error"
**Describe the bug**
log show 404 error :
req: 'GET /-/staticfonts/roboto-latin-400.woff', error: File not found

Steps to reproduce the behavior:
1. version: 4.4.0, run by docker-compose
2. after service start, refresh home page

**Expected behavior**
font exist

**Screenshots**
![image](https://user-images.githubusercontent.com/11719252/70985924-ec330900-20f7-11ea-8c1c-ba18eba05d04.png)

[2019-12-24 13:44] DanielRuf commented on #301
This would be very great =)

[2019-12-24 14:01] DanielRuf commented on #395
It seems it was changed in https://github.com/verdaccio/ui/commit/09fe1db8508aff5bad702425a874bfc805dfed9e

https://github.com/verdaccio/ui/blame/master/tools/webpack.config.js#L71

This was fixed by https://github.com/verdaccio/ui/commit/f61913c2d351d8e316017e739ee47f5d739683ba before this.

[2019-12-24 14:10] DanielRuf commented on #395
Let's fix the publicPath once and for all (missing trailing slash):
https://github.com/verdaccio/ui/blob/09fe1db8508aff5bad702425a874bfc805dfed9e/tools/webpack.config.js#L11

[2019-12-24 14:39] DanielRuf commented on #372
Let's rephrase the title to "improve (progressive) responsive design for mobile", shall we @juanpicado?

[2019-12-24 14:44] DanielRuf opened #397 "Getting warnings regarding props in context on build"
**Describe the bug**
When I do a `yarn build`on current `master`branch the webpack build gives me the following warnings:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run `yarn build`

**Expected behavior**
There should not be any warnings.

[2019-12-24 14:56] juanpicado commented on #372
Agree

[2019-12-24 15:04] DanielRuf commented on #309
It was last used in https://github.com/verdaccio/verdaccio/commit/9d265996f9e68067e5c0fb10f0ab25129235ad6f#diff-419acda00d07b9e5ef8084cb09d1d057L65

So I guess it can be safely removed now?

[2019-12-24 15:07] DanielRuf commented on #309
Unfortunately it seems these were many commits and they were squashed (we should never squash, especially when the PR title does not fit).

On the right side in the new Home page it is missing. So not sure why this was removed.

[2019-12-24 15:11] DanielRuf commented on #309
We should probably use SonarCloud to find more such code smells.

[2019-12-25 13:04] DanielRuf commented on #371
How should it look like? No background at all?

[2019-12-25 13:34] DanielRuf commented on #194
This has nothing to do with Node itself.

I can also not reproduce it on `master` using `yarn dev`.
Closing as there are no clear steps to reproduce this.

[2019-12-25 13:34] #194 closed

[2019-12-25 13:40] DanielRuf commented on #373
Old:

<img width="544" alt="Bildschirmfoto 2019-12-25 um 14 37 45" src="https://user-images.githubusercontent.com/827205/71446497-4fd6bb00-2724-11ea-9977-a1329745bb85.png">

Current:
<img width="369" alt="Bildschirmfoto 2019-12-25 um 14 39 20" src="https://user-images.githubusercontent.com/827205/71446513-6f6de380-2724-11ea-8690-70626f7e566d.png">

It seems the `MuiBox-root` is new.

[2019-12-25 13:55] DanielRuf commented on #373
Was introduced by https://github.com/verdaccio/ui/commit/0d9232a92cbe3d507f43c2ae86278a63ac23996d#diff-2d39dbde05630bdfe781f3a465e7857bL46 and https://github.com/verdaccio/ui/commit/0d9232a92cbe3d507f43c2ae86278a63ac23996d#diff-2d39dbde05630bdfe781f3a465e7857bL159

We should stop squashing commits, cc @priscilawebdev - this makes it hard to understand why it was changed there as this is not relate

[2019-12-25 14:20] DanielRuf commented on #373
It seems `<Content>` was replaced but we still have the styles in https://github.com/verdaccio/ui/blob/111f0c50e5053202ca55fe4f3f28dd30e4932240/src/components/Layout/Layout.tsx#L6 but we forgot to copy the `backgroundColor`property.

[2019-12-25 14:44] DanielRuf commented on #374
Can we do a quick `git bisect`?

[2019-12-25 18:48] juanpicado commented on #374
There has been a lot of refactoring lately, it would be hard to find.

[2019-12-25 20:10] DanielRuf commented on #374
I'' check that.

[2019-12-25 20:11] DanielRuf commented on #374
I'll check that.

[2019-12-25 20:23] DanielRuf commented on #374
bad: v0.3.6

Interesting, express seems to have removed some release. 4.18.0 was / is referenced in the lockfile but does not exist (anymore).

express/-/express-4.18.0.tgz

[2019-12-25 20:28] juanpicado commented on #374
We had that issue before and we fixed it (removing the cached version) ... I don't see it anymore.  Where are you seeing that?

Actually `express/-/express-4.18.0.tgz` was published early this year and then removed (it seems inside of this 72h window) ... but we cached it .. funny thing is from our registry all was fine but was failing in the CI due in that time we were fetching from npmjs. Intere

[2019-12-25 20:35] DanielRuf commented on #374
It's in the yarn.lock of v0.3.2 and you fixed it in a PR. See https://github.com/verdaccio/verdaccio/pull/1490

[2019-12-25 20:37] juanpicado commented on #374
Yes, also we had to remove it manually from our registry.

[2019-12-25 20:56] DanielRuf commented on #374
http://localhost:4872/

<img width="427" alt="Bildschirmfoto 2019-12-25 um 21 45 21" src="https://user-images.githubusercontent.com/827205/71450307-e07ebc80-275f-11ea-9b76-739399558c2c.png">

http://localhost:8080/

<img width="841" alt="Bildschirmfoto 2019-12-25 um 21 45 54" src="https://user-images.githubusercontent.com/827205/71450309-f12f3280-275f-11ea-8c8b-e49f23f746ff.png">

The good ol' `fo

[2019-12-25 20:57] DanielRuf commented on #374
<img width="738" alt="Bildschirmfoto 2019-12-25 um 21 56 43" src="https://user-images.githubusercontent.com/827205/71450403-7ff07f00-2761-11ea-9252-9ecb108b578e.png">
<img width="750" alt="Bildschirmfoto 2019-12-25 um 21 57 01" src="https://user-images.githubusercontent.com/827205/71450404-7ff07f00-2761-11ea-869b-d81bf51313b1.png">

[2019-12-26 09:27] juanpicado commented on #199
Actually I would like to remove snapshots on pages, just limited to small components and those do not have dates.

[2019-12-26 12:52] DanielRuf commented on #191
I assume the initial question is answered. If this is not the case please let us know.

[2019-12-26 12:52] #191 closed

[2019-12-26 21:51] w-ko commented on #397
Is this possibly related to https://github.com/webpack/webpack/issues/7378#issuecomment-492641148 ?

When I split up the interfaces and types into separate files at least part of the warnings disappear:

**Affecting the first two warnings**:
![image](https://user-images.githubusercontent.com/59027568/71491336-68cc9280-2830-11ea-83e6-14fe8e435a69.png)
![image](https://user-images.githubusercontent.

[2019-12-26 21:56] DanielRuf commented on #397
As others already stated in the webpack issue this is probably an issue with the TypeScript compiler (and a feature probably). So yes, we might try the linked solution.

[2019-12-28 08:32] #373 closed

[2019-12-28 08:33] #371 closed

[2019-12-28 14:49] DanielRuf opened #401 "Add script to update snapshots"
**Is your feature request related to a problem? Please describe.**
As a developer I want to update snapshots when needed.

**Describe the solution you'd like**
As @juanpicado proposed:

[2019-12-28 15:14] DanielRuf commented on #168
Not sure if we get any further feedback here and if we should change something.

[2019-12-28 15:20] DanielRuf commented on #105
Did we already fix this somehow or is it still a todo?

[2019-12-28 22:22] DanielRuf commented on #358
Can you explain this in detail with some examples?

[2019-12-28 22:23] DanielRuf commented on #358
Hi @9ae8sdf76,

Can you explain this in detail with some examples?

[2019-12-28 22:29] DanielRuf commented on #358
I think you mean the oart at https://github.com/verdaccio/verdaccio/blob/66f4197236d9d71af149314aae15102b336f45e1/src/api/web/index.ts#L58-L68

You can either use a full url with `https://`, a relative path or a base64 encoded image as string.

[2019-12-29 12:01] patsevanton opened #402 "node >= 10.13.0 required"
Hello!

cat /etc/redhat-release
```CentOS Linux release 7.6.1810 (Core) ```

node -v
```v8.17.0```

npm install -g verdaccio
[code]

![image](https://user-images.githubusercontent.com/10828883/71556602-16c08280-2a65-11ea-9ad7-ce83bd4fc5c9.png)

[2019-12-30 06:34] DanielRuf commented on #402
I wonder why we don't test Node 8 anymore:

https://github.com/verdaccio/verdaccio/blob/master/.circleci/config.yml#L15

cc @juanpicado

[2019-12-30 06:36] DanielRuf commented on #402
https://github.com/verdaccio/verdaccio/pull/1495

cc @sergiohgz

[2019-12-30 06:37] DanielRuf commented on #402
So our docs are also outdated as we require npm >= 5 too.

https://verdaccio.org/docs/en/installation#prerequisites

[2019-12-30 06:40] patsevanton commented on #402
May be change https://verdaccio.org/docs/en/installation#prerequisites  ?

[2019-12-30 06:47] DanielRuf commented on #402
Mo, that change should not have happened actually as Node 10 requirement was planned for verdaccio 5.

We follow SemVer and verdaccio 4 itself requires Node >= 8. verdaccio 5 should require Node >= 10.

Also see https://github.com/verdaccio/verdaccio/pull/1335 and https://github.com/verdaccio/verdaccio/blob/master/package.json#L136

[2019-12-30 06:54] DanielRuf commented on #402
No, that change should not have happened actually as Node 10 requirement was planned for verdaccio 5.

We follow SemVer and verdaccio 4 itself requires Node >= 8. verdaccio 5 should require Node >= 10.

Also see https://github.com/verdaccio/verdaccio/pull/1335 and https://github.com/verdaccio/verdaccio/blob/master/package.json#L136

[2019-12-30 06:56] DanielRuf commented on #402
Currently we have some mess here. We do not test on Node 8 anymore but say that Node 8 is supported. As there were more changes we should change that requirement to 10 now but this would require a major version bump.

[2019-12-30 08:03] juanpicado commented on #402
I will revert it @DanielRuf .... I think the engine on this repo does not make sense, we ship a JS bundle for the browser.

[2019-12-30 08:13] juanpicado commented on #402
We don't test here on Node 8 due is just for development, `url-loader` is a devDependency and I think develop at least in `>=v10` make totally sense, but the `engine` flag here should not be added or at least stay on `>=v8`

[2019-12-30 09:04] #402 closed

[2019-12-30 09:12] #374 closed

[2019-12-30 09:12] #395 closed

[2020-01-02 20:45] priscilawebdev commented on #361
I still need to update the funding use cases, but as the funds button is already there, I think I can close this issue ☺️

[2020-01-02 21:49] priscilawebdev commented on #397
Honestly, I don't like the current solution very much :/ maybe there is another way

[2020-01-02 21:52] priscilawebdev commented on #310
I am closing this issue, since it seems to be fine now :-) great job!
![image](https://user-images.githubusercontent.com/29228205/71695486-8fe80e80-2db2-11ea-9003-9a44fdfc34fc.png)

[2020-01-02 21:52] priscilawebdev commented on #310
I am closing this issue, since it seems to be fine now :-) great job!
![image](https://user-images.githubusercontent.com/29228205/71695486-8fe80e80-2db2-11ea-9003-9a44fdfc34fc.png)

[2020-01-02 21:52] #310 closed

[2020-01-02 22:49] priscilawebdev commented on #309
@juanpicado good catch!

[2020-01-02 22:58] priscilawebdev commented on #95
@sergiohgz I did some research and we have the `!important` tag only here:

![image](https://user-images.githubusercontent.com/29228205/71698311-641d5680-2dbb-11ea-8140-92a9451e149c.png)

this piece of code is not even used anymore ... we can safely remove it :)

[2020-01-02 23:18] #95 closed

[2020-01-03 15:28] tmkn commented on #309
For what it's worth here's a scan of the project I did in December(?) with default settings, if anyone wants to have a quick look what it looks like.
https://sonarcloud.io/dashboard?id=tmkn_ui

Thanks for reminding me that I set this up, I actually wanted to propose SonarCloud 😅

The Pull Request integration is also pretty nice.

[2020-01-03 15:50] DanielRuf commented on #309
I might have to do some new scans
https://sonarcloud.io/dashboard?id=DanielRuf_ui
https://sonarcloud.io/dashboard?id=DanielRuf_verdaccio

I have created a PR, let's discuss this there: https://github.com/verdaccio/ui/pull/408

[2020-01-03 23:15] juanpicado commented on #402
Shipped on `v4.4.1`

[2020-01-04 08:38] juanpicado commented on #361
The PR #375  only add a button with no behavior as far I can see, so I reopen this until is fully working.

ref https://github.com/verdaccio/ui/pull/375

[2020-01-04 08:47] DanielRuf commented on #361
Isn't it already working there with the sryled link? https://github.com/verdaccio/ui/pull/375/files (I see more changes again than just the addition of the button, we should do refactorings in separate PRs).

What is currently missing?

[2020-01-04 08:48] juanpicado opened #410 "Fund button is not working"
**Describe the bug**

On click the button nothing happens. #361

**To Reproduce**
Steps to reproduce the behavior:
1. Install the last release verdaccio `v4.4.1`
2. Load `http://localhost:4873/-/web/detail/verdaccio`
3. Click on button

**Expected behavior**
should open the targeted url

**Screenshots**

![Screen Shot 2020-01-04 at 9 47 08 AM](https://user-images.githubusercontent.com/558752/71763

[2020-01-04 08:49] juanpicado commented on #361
see https://github.com/verdaccio/ui/issues/410 , I released yesterday and I did no know the #375 was merge and now we have a bug. I will take care of it.

[2020-01-04 08:51] juanpicado commented on #361
The button does not do anything, check https://github.com/verdaccio/ui/blob/master/src/components/DetailSidebar/DetailSidebarFundButton.tsx#L30

[2020-01-04 08:51] DanielRuf commented on #410
I think you mean `4.4.1`, I have changed it ;-)

[2020-01-04 08:53] DanielRuf commented on #410
So we should provide functional tests with new features or test it manually and not just do a code review =)

Where can we put the needed tests?

[2020-01-04 09:02] DanielRuf commented on #361
Hm, I see no approved code review. We should probably require / enforce this here too. And at least one or two approved reviews should be done.

At least I see no green code reviews on my smartphone =)

[2020-01-04 09:09] juanpicado commented on #410
Yes, we should. The test are in the same folder as far I can see.  Are you taking care of it? or  me? 🙃 ... I was doing it already ...

[2020-01-04 09:19] juanpicado commented on #361
I will enable "Include Administrators", since all core team is admin now, we should behave as normal contributors, of course, this also imply that we @verdaccio/core-team  should not let others block for so long, otherwise might be frustrating. But, this will avoid we merge incomplete stuff again.

[2020-01-04 09:32] DanielRuf commented on #410
You can work on it. I would be happy to review it then =)

[2020-01-04 09:41] juanpicado commented on #410
I did not notice the `StyledLink` is actually an `<a/>`, so, still a bug but is not working because the `preventDefault` actually block the default event, which bubble up the click event.

[2020-01-04 10:49] juanpicado commented on #236
Should we keep this open?

[2020-01-04 10:54] juanpicado commented on #9
Duplicated https://github.com/verdaccio/ui/issues/3

[2020-01-04 10:54] #9 closed

[2020-01-04 10:55] juanpicado commented on #62
@DanielRuf can we close this?

[2020-01-04 11:27] DanielRuf commented on #62
Not sure if this is resolved now without applying custom patches. I have to test it again.

Were there relevant changes?

[2020-01-04 19:17] lirantal commented on #236
@universeroc are you still having a problem there? and is it reproducible?

[2020-01-05 11:29] konsultaner commented on #263
@DanielRuf in `verdaccio@4.2.1` the resources were loaded with absolut paths

    https://example.de/verdaccio/-/static/837238974.css

in `verdaccio@4.4.1` the resources are loaded with relative paths to the domain.

    /-/static/837238974.css

you either need to change it back to abolut paths or remove the first `/` in order to fix it:

    -/static/837238974.css

This is an obvious html problem

[2020-01-05 15:13] DanielRuf commented on #263
Which is what we normally want afaik.

I think @juanpicado is already on it.

[2020-01-05 15:13] DanielRuf commented on #263
Well we need a reproducible testcase in general, including some config parts ;-)

[2020-01-05 15:17] DanielRuf commented on #263
Relevant: https://github.com/verdaccio/ui/blob/master/tools/webpack.config.js#L11

[2020-01-06 10:28] konsultaner commented on #263
No you want it relative to your root. If your domain is `example.com` and your entry point / root is `example.com/verdaccio/` you do not want everything to be relative to `example.com`, but currently all assets resolve to `example.com` instead of  `example.com/verdaccio/`

I have never gone through the verdaccio code, but for me it seems like this:

    publicPath: '/-/static/',

Should be changed

[2020-01-06 11:56] DanielRuf commented on #263
I'm not sure about proxy setups. There were some notes about this in the past. @juanpicado might know more.

Not sure if we explicitely support verdaccio installs in subfolders.

This could be probably the solution @konsultaner but we should test this because it is used like this in many setups already. Do you want to provide a PR for this?

[2020-01-06 11:57] DanielRuf commented on #263
See also https://verdaccio.org/docs/en/reverse-proxy

[2020-01-06 11:57] DanielRuf commented on #263
See also https://verdaccio.org/docs/en/reverse-proxy#sub-directory

[2020-01-06 11:59] DanielRuf commented on #263
But afaik @juanpicado should be already on it.

[2020-01-06 12:29] konsultaner commented on #263
[We recommend use a subdirectory /verdaccio/ instead a URI.](https://verdaccio.org/docs/en/configuration.html#url-prefix)

It is actually recommended

This should have no influence on reverse-proxies, because the browser resolves the subdirectory. Everything else is to be configured within the proxy. Solving this issue may break some current reverse-proxy configurations that already workaround thi

[2020-01-06 16:08] 9ae8sdf76 commented on #358
Actually, the issue is that [compiling the URL](https://github.com/verdaccio/verdaccio/blob/66f4197236d9d71af149314aae15102b336f45e1/src/api/web/index.ts#L64) for the logo does not respect the `url_prefix` from the config file, and always assumes absolute root.

For example, if my `url_prefix` is set to `/npm/`, I would expect my `logoURI` to be `/npm/-/static/logo.png`. But, what is actually gene

[2020-01-06 16:19] 9ae8sdf76 commented on #263
@konsultaner The path should most definitely not be `-/static/`, because it will assume that the current directory in the URL is the base for the path; e.g., `https://foo.bar.example/npm/assets/something/bar/-/static/` instead of `https://foo.bar.exmaple/npm/-/static/`.

Because my use-case is using mixed http/https using a reverse proxy, I believe the correct and most robust solution (i.e., the s

[2020-01-06 16:36] 9ae8sdf76 commented on #263
@DanielRuf here is my configs:

It should be noted that my company mandates that all servers live behind a load balancer (both for performance and security purposes), so I have no choice in using mixed protocols (http at my server and https at the load balancer).

The server I am using also uses satis as a composer proxy, hence the need for using a "sub-directory" (i.e., `config.url_prefix`) appro

[2020-01-06 16:48] DanielRuf commented on #263
Not a solution / option either imo.

[2020-01-06 16:49] DanielRuf commented on #263
Not a solution / option either imo.

[2020-01-06 16:52] 9ae8sdf76 commented on #263
May I ask why?

[2020-01-06 16:57] DanielRuf commented on #263
We may just need the base URL in the index.html file (html plugin).

Protocol less scheme is an antipattern and should not be used. It's not a problem with that and more like a workaround.

Either we use `<base>` (see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/base) or full absolute URLs including the protocol.

[2020-01-06 17:11] 9ae8sdf76 commented on #263
Ha! Beaten by my own reference material. :)

For what it's worth, I wholeheartedly agree that using protocol-less schemes is not your typical solution. I only suggested it here because of the mixed protocols due to the reverse-proxy set up, and the fact that it would still work for everything else.

Let me hack a base tag in my set up real quick and I'll let you know if it makes a difference.

[2020-01-06 17:38] 9ae8sdf76 commented on #263
@DanielRuf

One thing I forgot to mention, but was just not reminded of, is that mixing protocols causes CORS problems in the browser, even with adding a `<base>` tag. I added `<base href="ToReplaceByVerdaccio/" />` to `@verdaccio/ui-theme/static/index.html` and restarted the server (I verified it shows up in the source as expected). But it shows up as `http://...`, and causes Content-Security-Pol

[2020-01-07 06:10] juanpicado commented on #59
cc: @verdaccio/core-team thoughts?

[2020-01-07 06:12] DanielRuf commented on #59
I think currently there is no connection between email addresses and logins. At least I see no normal database for such workflows.

This would require a mail server (via SMTP Auth etc).

[2020-01-07 06:20] DanielRuf commented on #59
I think this should be done by sysadmins (password reset). Currently we just store username and password.

At least as the logins are often just needed for publishing packages and if someone forgets the password then I would say there are other issues with the internal password policy and management.

If we would like to integrate this feature it would require many big changes (secure token genera

[2020-01-07 18:50] DanielRuf commented on #59
Relevant: https://github.com/verdaccio/ui/issues/1

[2020-01-08 07:33] juanpicado commented on #59
As @DanielRuf pointed out, it is not double. npmjs is a complex microservice architecture which cannot be emulated with a small npm package.

sorry @guatedude2 what you are requesting is not doable.

[2020-01-08 07:33] #59 closed

[2020-01-08 11:16] #410 closed

[2020-01-08 11:19] #361 closed

[2020-01-08 15:01] guatedude2 commented on #59
Thanks for looking into it

[2020-01-09 07:14] universeroc commented on #236
Yeah, it is also reproducible. To your lastest reply https://github.com/verdaccio/ui/issues/236#issuecomment-555234832

I cannot add them, I've tried in the very beginning of this issue

[2020-01-09 20:06] coolsp commented on #309
Don't remove `isUserLoggedIn` from `Home` yet... I found a good use for it to trigger reloading the packages-list when a user logs-in/out.  About to create a bug report + PR.

[2020-01-09 20:11] coolsp opened #414 "Failed to load all packages after login 2"
**Describe the bug**
Non-public packages not included in the package-list after login.
A similar issue occurred in the past but the cause was different.

**To Reproduce**
Steps to reproduce the behavior:

1. Load the UI in a browser
2. You can see the public packages available to all
3. Login
4. Package list still the same, not included non-public packages I can access

**Expected behavior**
A pac

[2020-01-11 15:30] agar23 commented on #401
is #416 all we need?

[2020-01-11 15:41] sergiohgz commented on #401
I don't think we need to create an scripts to update snapshots, as it's not a task that should bun run frequently.
If we still want a script, I think `test:snapshot` it's not semantically correct, it tells me more to run snapshot tests than update them.

[2020-01-11 16:13] agar23 commented on #401
If we do decide to merge this, I updated the script to `test:update-snapshot`

[2020-01-12 10:49] juanpicado opened #418 "Use semantic release"
**Is your feature request related to a problem?**
Please describe a clear and concise description of what the problem is. E.g. I'm always frustrated when

We are using https://www.npmjs.com/package/standard-version for all repos, but this process is manual.

**Describe the solution you'd like**

I want to switch this repo to https://github.com/semantic-release/semantic-release which basically depl

[2020-01-12 14:57] #401 closed

[2020-01-12 16:59] juanpicado opened #419 "fix warnings on run test"
**Describe the bug**
There are couple of errors on running test as:

[code]
and
[code]
and
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run `yarn test`

**Expected behavior**

No warnings on running test.

[2020-01-12 21:21] #414 closed

[2020-01-13 08:11] juanpicado commented on #309
I guess we can close this right ?

[2020-01-13 08:21] coolsp commented on #309
Yes, thanks @juanpicado !

[2020-01-13 08:21] #309 closed

[2020-01-14 06:43] #397 closed

[2020-01-18 19:47] agar23 commented on #419
@juanpicado I will take this up, if that's ok.

[2020-01-18 19:47] juanpicado commented on #419
All yours :)

[2020-01-26 22:08] priscilawebdev commented on #102
Do you guys (@verdaccio/core-team) mind if I take over? I would love to implement i18n here

[2020-01-27 05:10] DanielRuf commented on #102
You can work on it @priscilawebdev =)

[2020-01-27 05:55] juanpicado commented on #102
@priscilawebdev ignore crowdin as I rewrote my thoughts above, find a different strategy, for now location files should be hosted on this repo.

[2020-01-28 20:55] priscilawebdev commented on #71
Sorry ... I'm a little late, but I totally agree with @matthewoden! We should definitely invest more time in performance issues that we can have and improve it. I am moving this task to verdaccio 5.0 - Prioritized

I believe it's an important issue 😉

[2020-01-28 21:01] priscilawebdev opened #425 "Refactor AutoComplete Component"
**Is your feature request related to a problem?**
Not really

**Describe the solution you'd like**

The current AutoComplete component is a big complex and not very clear. I believe that refactoring this component to improve readability would be very useful.

But the main idea here would be to evaluate a replacement for "react-autosuggest" with the new MUI autocomplete component. Please see here:

[2020-01-28 21:02] priscilawebdev opened #426 "Refactor Icon Component"
**Is your feature request related to a problem?**
Not really

**Describe the solution you'd like**

- First: we have two similar folders, one named Icon and another named Icons, this is very confusing.
- Second: I believe it is a good idea to get rid of `<ImgWrapper` and have only SVG images and icons. This is a breaking change...so some careful refactor is needed..

ps: Additionally improvements

[2020-01-28 21:05] priscilawebdev opened #427 "Enable the theme to be customized 🌟💅"
**Is your feature request related to a problem?**
Not really

**Describe the solution you'd like**
I believe that the possibility of customizing the logo and colors is one of the "most wanted" features of the UI. For the happiness of our users, we decided to include this feature in the next release 🎉🚀

The idea is to have a type of configuration file, with the same properties that we have in the `

[2020-02-01 16:44] juanpicado opened #428 "Names are displayed with uppercase"
**Describe the bug**

Names are displayed with uppercase

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://registry.verdaccio.org/-/web/detail/@verdaccio/active-directory

**Expected behavior**

Packages name should not be uppercased

**Screenshots**
![Screen Shot 2020-02-01 at 5 42 53 PM](https://user-images.githubusercontent.com/558752/73595547-5bcf4d00-451a-11ea-969c-526a7cdee

[2020-02-01 21:16] DanielRuf commented on #428
I see the following in Firefox:
<img width="787" alt="Bildschirmfoto 2020-02-01 um 22 15 48" src="https://user-images.githubusercontent.com/827205/73599135-6d2b5000-4540-11ea-9409-38969ee5f8e0.png">

[2020-02-01 21:17] DanielRuf commented on #428
Weird, now it is different (Firefox)?

<img width="373" alt="Bildschirmfoto 2020-02-01 um 22 16 47" src="https://user-images.githubusercontent.com/827205/73599148-9350f000-4540-11ea-8fc1-3af96a74027b.png">

[2020-02-01 21:17] DanielRuf commented on #428
Found it, working on it.

<img width="714" alt="Bildschirmfoto 2020-02-01 um 22 17 30" src="https://user-images.githubusercontent.com/827205/73599154-aa8fdd80-4540-11ea-9820-592126d855bd.png">

[2020-02-02 07:36] #428 closed

[2020-02-02 11:55] AppLover69 commented on #71
I'd say virtual scrolling on the packages list is the minimum for a better performance. Pagination would also be great, especially for searching packages.

[2020-02-04 17:53] juanpicado commented on #71
There were a PoC with react-virtualize but based on fetch all packages ... we might use it
for this purpose of display only private packages

[2020-02-05 18:22] juanpicado opened #433 "Add a new flag"
**Is your feature request related to a problem? Please describe.**

![Screen Shot 2020-02-05 at 7 20 10 PM](https://user-images.githubusercontent.com/558752/73870640-bb946380-484c-11ea-9ec3-437b6de80693.png)

I live in Germany, big part of the core teams lives and contribute from Germany, I would vote to add it to the list, What do you think?

[2020-02-05 18:29] anikethsaha commented on #433
Its hard to track every contributor's country but its good to have. I would say add this to the main site as well

[2020-02-06 05:36] juanpicado commented on #433
The original idea of the flags was mostly for the people which start the UI, like “made in xx” seal, just some innocent brand which ended up being part of the image in the UI, I wonder how many people actually expand the flags.

[2020-02-13 23:07] wdhodges commented on #75
@juanpicado sorry to post on an old issue, but this is an issue again in the latest 4.4.2 version

[2020-02-21 08:35] coolsp commented on #75
@wdhodges please see following issue in `verdaccio/verdaccio`: verdaccio/verdaccio#1714.
When the PR gets accepted I believe this will fix your issue.  Don't believe this to be related to UI.

[2020-02-21 11:51] wdhodges commented on #75
Got it, thank you!

On Fri, Feb 21, 2020 at 03:35 coolsp <notifications@github.com> wrote:

[2020-02-26 19:08] rluvaton commented on #71
This bug causing for the home page to crash (around 4K packages), this is a critical bug

**I suggest the following solutions:**
1. **[API Pagination]** Use pagination when getting the packages from the API
2. **[UI Pagination]** Display the packages with pagination

When using pagination, search in the client side will have a problem (it doesn’t have all the data) so I suggest that for searching

[2020-03-04 06:05] juanpicado commented on #427
I did a quick try, just a PoC https://github.com/verdaccio/ui/tree/feat-dark-mode and I found out change the colors is not that easy, but doable.

[2020-03-08 16:02] #102 closed

[2020-03-15 20:16] priscilawebdev commented on #427
@juanpicado really nice PoC :)

I just find the background too dark hahaha

![image](https://user-images.githubusercontent.com/29228205/76709830-2f564580-6702-11ea-83ac-3c0959091b9b.png)

[2020-03-19 17:14] hathub opened #445 "wrong css background color"
Hi all,
I've just updated my verdaccio from version 4.2.2 to 4.5.1 and I've noticed a little UI problem on my homepage:
![Annotazione 2020-03-19 175925](https://user-images.githubusercontent.com/4267083/77094289-90d12980-6a0c-11ea-9dd8-b38290e3582a.jpg)

Light grey border appear when I start to scroll down any page. Why background color of body is set to `#fafafa` and not to `#ffffff` ?

Thanks in

[2020-03-19 23:35] reviewher opened #444 ""Download tarball" HTTP 401 (Unauthorized) affecting 4.5.1"
https://github.com/verdaccio/ui/issues/75 appears to have been closed, but the issue has reappeared.  The verdaccio log shows unauthenticated GET requests for the tarballs.

[2020-03-20 17:23] juanpicado commented on #444
Please fill this template before report and issue, that makes more easy to understand to track source of the problem.
https://raw.githubusercontent.com/verdaccio/ui/master/.github/issue_template.md

[2020-03-21 21:08] reviewher commented on #444
To be sure, it is the exact problem reported in the previously closed issue, except it has reappeared in the latest version

[2020-03-29 10:46] juanpicado opened #447 "The header style is broken in IE11"
**Describe the bug**
The header is broken in IE11

**To Reproduce**
Steps to reproduce the behavior:
1. Go to home

**Expected behavior**

The header must look like in other browsers

**Screenshots**
![Screen Shot 2020-03-29 at 12 45 10 PM](https://user-images.githubusercontent.com/558752/77847156-34fc6280-71bb-11ea-9028-797706ae93bf.png)

[2020-03-29 13:36] anikethsaha commented on #447
I think this kind of issue should be solved by `autoprefixer` in `prod` webpack config.
something like this in `webpack.prod.config.babel.js`

[code]

I tried this, faced some issue like not able to handle `tsx` files (not related to this solution..)
but I couldnt push my code to my fork

getting this

![image](https://user-images.githubusercontent.com/26347874/77850414-0056ce00-71f0-11ea-8a72-d66

[2020-03-30 05:12] juanpicado commented on #447
Try again :)

[2020-04-02 20:15] juanpicado opened #452 "Dark mode links are too dark"
**Describe the bug**
Few links are too dark, see screenshots

**Expected behavior**

White links or something less dark

**Screenshots**
If applicable, add screenshots to help explain your problem.

![Screen Shot 2020-04-02 at 10 11 55 PM](https://user-images.githubusercontent.com/558752/78297034-0a9a0480-752f-11ea-9f71-89896bca05d1.png)
![Screen Shot 2020-03-29 at 12 51 33 PM](https://user-images

[2020-04-02 20:16] juanpicado opened #453 "Dark mode and links are too dark"
**Describe the bug**
Few links are too dark, see screenshots

**Expected behavior**

White links or something less dark

**Screenshots**
If applicable, add screenshots to help explain your problem.

![Screen Shot 2020-04-02 at 10 11 55 PM](https://user-images.githubusercontent.com/558752/78297034-0a9a0480-752f-11ea-9f71-89896bca05d1.png)
![Screen Shot 2020-03-29 at 12 51 33 PM](https://user-images

[2020-04-03 08:33] DanielRuf commented on #453
Duplicate of https://github.com/verdaccio/ui/issues/452?

[2020-04-03 13:33] juanpicado commented on #453
I think GitHub did published twice :D yesterday was down. I'll close the other one.

[2020-04-03 13:33] #452 closed

[2020-04-05 17:34] #453 closed

[2020-04-05 18:25] #433 closed

[2020-04-08 20:46] juanpicado opened #458 "Contributor section is displayed if it comes empty"
**Describe the bug**

<img width="239" alt="Screen Shot 2020-04-08 at 10 44 55 PM" src="https://user-images.githubusercontent.com/558752/78831881-aec9f280-79ea-11ea-9b51-c268afc2ecb6.png">
<img width="410" alt="Screen Shot 2020-04-08 at 10 44 50 PM" src="https://user-images.githubusercontent.com/558752/78831885-af628900-79ea-11ea-932a-88ea4b7bd45e.png">

**To Reproduce**
Steps to reproduce the beh

[2020-04-24 16:05] juanpicado opened #461 "Current locale breaks UI"
**Describe the bug**
More detail here https://github.com/verdaccio/verdaccio/issues/1779

We assume the `currentLanguage` will be the locale of the browser, but not everybody has the same locale, this is mine.

<img width="366" alt="Screen Shot 2020-04-24 at 6 12 01 PM" src="https://user-images.githubusercontent.com/558752/80233676-2e94c580-8657-11ea-9a8b-eedd6ba78d4e.png">

And that's not on the

[2020-04-24 16:41] juanpicado commented on #461
On development does not fail, but it does in production. The object `i18next.languages` does not exist locally/dev.

[2020-04-27 19:36] #461 closed

[2020-04-30 11:04] himanshumehta1114 opened #464 "Add prefers-color-scheme for theme preference"
**Is your feature request related to a problem? Please describe.**
Right now verdaccio dark theme can be set by admin by default or the user can enable it manually but it would be better if we could add [prefer-colors-scheme](https://master--material-ui.netlify.app/customization/palette/#user-preference) and let the system decide which theme should be preferred. and also keep the currently functio

[2020-05-01 01:08] hdmr14 commented on #444
may related to https://github.com/verdaccio/verdaccio/issues/1508 ?
issue still exist on 4.6.1

[2020-05-01 05:32] juanpicado commented on #444
Thanks @hdmr14 , all please check my comment at https://github.com/verdaccio/verdaccio/issues/1508

I need your help or we will never solve the issue.

[2020-05-01 10:59] juanpicado opened #465 "Date format uses a different locale"
**Describe the bug**
The date does not use the locale selected for translation, then looks different.

**Expected behavior**

The date should be formatted according the locale selected.

**Screenshots**

<img width="763" alt="Screen Shot 2020-05-01 at 12 57 24 PM" src="https://user-images.githubusercontent.com/558752/80801047-79f52980-8bab-11ea-9a84-3fea10e2eb6a.png">

[2020-05-01 11:01] juanpicado commented on #464
The support still quite low, but looks like a nice feature.
https://caniuse.com/#feat=prefers-color-scheme

I wonder how this might work with Material-UI, I guess @priscilawebdev might have an opinion here.

[2020-05-02 11:12] hdmr14 commented on #465
It caused by day.js locale not updated when locale selected.
I'll try to solve this.

[2020-05-04 06:18] hdmr14 commented on #465
I'll take times longer than I thought...
I'm not familiar with React but I'll do my best until anyone familiar with React want to contribute this comes.
I don't blocking your contribute!

[2020-05-05 17:45] hdmr14 commented on #465
I can confirm that this issue fixed by b59840d at #472, Thanks for!
Sorry for I couldn't help to this...😭

[2020-05-05 17:45] #465 closed

[2020-05-18 12:54] VentyCZ opened #478 "Registry Info window has wrong header style in Dark mode"
**Describe the bug**
In Dark mode, header for Registry Info window has wrong styling (white background with white text).

**To Reproduce**
Steps to reproduce the behavior:
1. Switch to Dark mode using sun icon in the header
2. Click info icon in the header
3. See error

**Expected behavior**
The header should have similar styling to the Login window

**Screenshots**
![Screenshot](https://i.gyazo.c

[2020-05-19 07:17] juanpicado commented on #478
hi @VentyCZ thanks for reporting, please describe environment, specially browser :)

[2020-05-19 07:27] VentyCZ commented on #478
@juanpicado Verdaccio 4.6.2 installed through yarn.
Tested on latest Chrome (v81) on both Linux and Windows 10.
Can send registry url privately, so you can check it.

[2020-06-13 09:51] VentyCZ commented on #478
After some investigation (still quite new to the overall project structure) I found out, that the issue is affecting more than this component.
The issue is that color has a static value of 'white' while the 'primary' (background) color used for dark theme is white (#fff).

![image](https://user-images.githubusercontent.com/3247664/84565803-2e1dce80-ad6c-11ea-8bf6-d81f5154dcb5.png)

[2020-06-14 13:24] #478 closed

[2020-06-14 13:48] priscilawebdev opened #491 "Evaluate https://github.com/bvaughn/react-window to render the package list"

[2020-06-19 11:24] masterkain commented on #84
what is "Latest Distribution" ?

[2020-06-19 20:55] juanpicado opened #499 "Deprecate support"
**Is your feature request related to a problem? Please describe.**

~In the next release we support `npm deprecate`~, this information will be available in the UI
https://github.com/verdaccio/verdaccio/pull/1842

The latest version already contains deprecated suppport via CLI

**Describe the solution you'd like**

I'd like be able to display a deprecated package visually.

**Describe alternatives

[2020-06-21 15:14] juanpicado commented on #427
@priscilawebdev should we have this open ? seems like you made it already.

[2020-06-26 05:33] juanpicado commented on #491
It seems outdated, last release was 1.5 years ago

[2020-06-28 14:47] priscilawebdev commented on #491
Yes, it was in 2018, but still the project seems to be one of the best when it comes to rendering large lists... there is also the react-virtualized created by the same person...it looks active... but the problem is: it is large... it comes with a lot of features that we don't need...

[2020-06-28 14:48] priscilawebdev commented on #427
@juanpicado , I created a dark theme, but I still wanted to make the theme more customizable ... let's close it for now :)

[2020-06-28 14:48] #427 closed

[2020-06-29 15:56] juanpicado commented on #491
Yeah, agree `react-virtualized` is heavy, but still seems unmaintained.

What about the other options the README suggest  https://github.com/bvaughn/react-window#related-libraries?

[2020-07-01 08:26] priscilawebdev commented on #491
@juanpicado I will evaluate them 😉

[2020-07-17 20:46] juanpicado commented on #491
We have already `react-virtualized` :) so I can close this. 👍

[2020-07-17 20:46] #491 closed

[2020-07-23 10:32] himanshumehta1114 commented on #464
@priscilawebdev @juanpicado just came to ring the bell 😄 . Any updates here?

[2020-07-24 10:42] juanpicado commented on #464
Nothing new. I don't expect updates here for a while.  If anyone want experiment in this area go ahead 👍.

[2020-07-28 08:31] DanielRuf commented on #464
Definitely a good idea to add this.

[2020-07-29 17:43] juanpicado commented on #464
Tagged properly for the :) next month event

[2020-08-26 12:38] priscilawebdev commented on #464
oh yes.. Hacktoberfest is coming and yess this is a very good idea 😀👏

[2020-09-01 09:30] hathub commented on #445
I've just installed verdaccio 4.8.1 and this problem seems fixed.

Thanks

[2020-09-24 12:17] frank-dspeed commented on #499
@juanpicado The Main Problem that comes up is!
Befor this implamentation we could assume that data will not change npmjs.org will be consistent package meta don't changes.

After this implamentation we deal with the fact that the deprecation status can change after we have fetched a copy of the package.

 We need to implament some form of last checked State from the upstream
some kind of extra fil

[2020-09-28 16:29] juanpicado opened #558 "Migrate to Yarn v2"
- [ ] I'd be willing to implement the feature

**Is your feature request related to a problem?**

Verdaccio UI uses Yarn v1. Since this is not a monorepo and we want to learn more about Yarn Berry, we want to run Yarn v2 on this repo from now on.

**Describe the solution you'd like**

Full migration, with zip files and PnP enabled.

[2020-09-29 08:07] zhuqingguang opened #559 "The search input in home page is narrow"
- [x] I'd be willing to implement the feature

 I'm sometimes frustrated when i open homepage and click the blank area on the right of `search input` but it can not focus
the `search input`:
![image](https://user-images.githubusercontent.com/24694223/94529477-5f170600-026c-11eb-99f0-1366ec928dae.png)
As the blank area is a bit wider but unreactive, I think it's not friendly for user.
![image](http

[2020-09-29 10:37] juanpicado commented on #559
go ahead :) I'd make sure this goes to the next release.

[2020-09-29 15:57] ronyf opened #582 "Add to website an icon near the versions that were downloaded locally"
**Is your feature request related to a problem?**
I'd suggest adding a way to differentiate between package version that are cached and the ones that weren't cached from the uplink. This will help users know what's actually was already requested from the repo.

**Describe the solution you'd like**
Add an icon near the versions that were downloaded in the versions page of every package on the websi

[2020-10-02 13:35] zhuqingguang commented on #559
@juanpicado   Hi~The css of the `search input div` has a `max-width: 393px;`. The easiest way to change the ui is remove this line. But it's a tremendous change to the ui .   And another way is to add a click event handler to the empty area on the right of the input.

 In your  opinion whick one is more reasonable ？

![image](https://user-images.githubusercontent.com/24694223/94929080-2f2f6300-04f

[2020-10-07 19:47] priscilawebdev commented on #445
Oh I am glad that the problem is already fixed. Thank you for letting us know @hathub  :)

[2020-10-07 19:47] #445 closed

[2020-10-07 20:33] priscilawebdev commented on #559
@zhuqingguang if you remove the maxWidth it should be wider and it will not cause problems.

[2020-10-07 20:38] priscilawebdev commented on #464
@himanshumehta1114  please do you still plan to work on this issue? otherwise can I please take it over?

[2020-10-07 20:38] priscilawebdev commented on #426
I can close this for now

[2020-10-07 20:38] #426 closed

[2020-10-08 02:18] himanshumehta1114 commented on #464
@priscilawebdev I do plan to work on this one. Will raise the PR soon.

[2020-10-08 19:10] himanshumehta1114 commented on #464
`yarn lint` gives me these warnings on **master** 👉

<img width="1678" alt="Screenshot 2020-10-09 at 12 38 07 AM" src="https://user-images.githubusercontent.com/25463496/95502695-d6187100-09c7-11eb-95a3-11974aa29d17.png">

[2020-10-09 01:24] zhuqingguang commented on #559
I have test the ui in dev mode and it change nothing except that it makes search input wider.
But as it's a big change, i'm not very confident that it will not make users confused  😂😂 .

[2020-10-11 16:28] juanpicado opened #578 "No Package Published Yet title is too big"
- [ ] I'd be willing to implement a fix

**Describe the bug**

The title is too big when there is no packages installed.

![Screenshot from 2020-10-11 18-26-13](https://user-images.githubusercontent.com/558752/95684086-5a007200-0bef-11eb-808d-753a73ca67df.png)

[2020-10-11 17:46] #559 closed

[2020-10-11 17:48] juanpicado commented on #140
I have mixed filings about this, we should close it, I don't see a big benefit since we don't have a Design system that is reused anywhere else. We use material-ui and that's pretty much all.

[2020-10-11 17:49] #418 closed

[2020-10-11 23:20] rokkoo commented on #578
Can I do it? 😊

[2020-10-12 04:55] juanpicado commented on #578
All yours

[2020-10-12 10:36] #578 closed

[2020-10-18 18:29] priscilawebdev commented on #1
@juanpicado any update on this? :)

[2020-10-19 18:39] priscilawebdev commented on #1
@juanpicado is actively working on this and he will soon provide an endpoint.

[2020-10-19 19:02] priscilawebdev opened #581 "Add visual snapshots tests"

[2020-10-19 19:14] priscilawebdev commented on #458
done.

[2020-10-19 19:14] #458 closed

[2020-10-19 19:15] priscilawebdev commented on #464
done

[2020-10-19 19:15] #464 closed

[2020-10-19 19:15] priscilawebdev commented on #140
I'm closing this for now

[2020-10-19 19:15] #140 closed

[2020-10-19 19:27] priscilawebdev commented on #93
closing this for now

[2020-10-19 19:27] #93 closed

[2020-10-19 19:29] priscilawebdev commented on #499
closing this as it's duplicated https://github.com/verdaccio/ui/issues/67

[2020-10-19 19:29] #499 closed

[2020-10-19 19:35] juanpicado commented on #3
This has been open for long time, I'll close it since we don't have interest on develop it, if someone wants to do it, go ahead opening a  PR.

[2020-10-19 19:35] #3 closed

[2020-10-29 15:25] hugoazevedosoares commented on #107
I could no find the file utils/styles/sizes on branch master. Is that on a diferent branch?

[2020-10-29 21:15] juanpicado commented on #107
@hugoazevedosoares the ticket is old, locations might be different by know.

[2020-10-30 20:19] hugoazevedosoares commented on #107
Thanks @juanpicado . This is still relevant? If so I can help :)

[2020-10-30 21:43] juanpicado commented on #107
Agree, it is outdated. But you can contribute in other areas https://github.com/verdaccio/ui/labels/good%20first%20issue if you like, either linting or improve test, you decide 👍

[2020-10-30 21:43] #107 closed

[2020-11-17 16:56] iniatse opened #585 "Flag as dependency"
**Description**

It would be nice if a package could be flagged as a dev-dependency.

Q: Why would that be useful?
A: Within the UI on the landingpage of a specific package there's the point "Installation" where users can copy & paste the command to install the package. It would be nice if the `--save-dev` would be already included there if a package is flagged as a dev-dependency.

- [ ] I'd be w

[2020-11-28 17:35] bhumijgupta commented on #263
I was facing a similar issue, turns out I forgot to add `Host`, `X-Forwarded-For` header in my nginx config.

Code from https://verdaccio.org/docs/en/reverse-proxy#sub-directory
[code]

After that I removed `url_prefix` from my verdaccio config and the ui worked fine

[2020-12-11 10:00] Sov3rain opened #599 "Markdown lists are not rendered in the web UI"
**Describe the bug**

Markdown lists are not rendered in the web UI.

**To Reproduce**

- Create a .md file
- Add a list with minuses, pluses or asterisks
- Update the package
- Go to your package web UI

**Expected behavior**

Lists should be rendered correctly.

**Screenshots**

Verdaccio web UI rendering:
![image](https://user-images.githubusercontent.com/10755450/101889585-dd165800-3b9f-11eb-9

[2020-12-12 09:55] #585 closed

[2020-12-12 09:55] #582 closed

[2020-12-12 09:56] #1 closed

[2020-12-12 09:57] #97 closed

[2020-12-12 09:57] #74 closed

[2020-12-12 09:57] #425 closed

[2020-12-12 09:58] #10 closed

[2020-12-12 09:58] #439 closed

[2020-12-12 09:59] #71 closed

[2020-12-12 09:59] #11 closed

[2020-12-12 10:00] #12 closed

[2020-12-12 10:11] #581 closed

[2020-12-12 10:24] juanpicado commented on #447
I'll migrate to webpack 5 and remove IE 11 support in the next release.

[2020-12-12 10:24] #447 closed

[2020-12-13 18:00] #67 closed

[2020-12-20 11:17] ktemelkov commented on #263
Because your are not using url_prefix in your nginx configuration. The issue here is when you have something like 'location ~ ^/verdaccio/(.*)$ {'.

[2020-12-20 11:41] ktemelkov commented on #263
As a temporary workaround I have added another location section in my nginx configuration to forward the paths starting with /-/static/ to the Verdaccio ip:port, which fortunately works for me as the website forwarded at / does not use such paths.

[code]
Of course with this configuration I have to set url_prefix to /verdaccio/

[2020-12-23 08:53] #199 closed

[2020-12-23 08:53] #419 closed

[2021-01-24 20:08] priscilawebdev opened #597 "Fix Package Detail Sidebar Overflow issue"
![image](https://user-images.githubusercontent.com/29228205/105642164-546e2580-5e88-11eb-99fe-be24401f66d8.png)

[2021-03-13 16:39] #62 closed

[2021-04-25 10:27] #105 closed

[2021-04-25 10:27] #69 closed

[2021-04-25 10:28] juanpicado commented on #263
Closed, check https://verdaccio.org/blog/2021/04/14/verdaccio-5-migration-guide#url_prefix-improved-behavior

[2021-04-25 10:28] #263 closed

[2021-04-25 10:30] juanpicado commented on #444
closed by https://github.com/verdaccio/verdaccio/issues/1508

[2021-04-25 10:30] #444 closed

[2021-04-27 19:38] #597 closed

[2021-04-27 19:45] #599 closed

[2021-04-27 19:54] #301 closed

[2021-04-27 19:55] #236 closed